[2013-06-04 22:01] igrigorik opened #21 "Key: support "OR" operator"
Above behavior dictates "AND" operation on all of the Key parameters. What about "OR"? For example, what if I wanted the response to be cached for multiple UA's - e.g. Android, iPhone.

First example is an implicit AND, and wouldn't be satisfied for any UA.. Whereas, what we're actually after is the second case, where we want the cache to serve the response to multiple different UA's. Q: is there

[2013-06-25 03:35] mnot opened #24 "Key: Clarify Cacheability"
From Eric Lawrence:

The spec doesn’t clearly state what happens in the case that the original request didn’t match the key on the response (There’s language which implies that this rule means the response is not cacheable).

[2013-06-25 03:50] mnot opened #25 "Key: drop requirement to keep original request headers around"
This would greatly simplify the model and implementations (browsers are reluctant to keep all that extra state around).

Main downside would be that

    Key: Foo, Bar
and
    Vary: Foo, Bar

wouldn't mean the same thing any more (but I think that's just aesthetic).

[2013-11-25 03:08] mnot opened #32 "IRIs or URIs?"
5988 specifies links in terms of IRIs. Is this the right thing, or should they be URIs?

[2013-11-25 03:09] mnot opened #33 "Parameter ABNF"
See:
  http://www.rfc-editor.org/errata_search.php?rfc=5988&eid=3158

[2013-11-25 03:14] mnot opened #36 "Link parameter registry"
Is it time to add a registry for the namespace of link parameters?

See:
* http://tools.ietf.org/html/draft-nottingham-link-hint
* http://tools.ietf.org/html/rfc6690

[2013-11-25 18:17] dret opened #39 "link relations for RDF"
when working with the SemWeb/RDF community, it becomes obvious that link relations (and any other registries that manage concepts through non-URI identifiers) are a challenge for that community. even if they want to (re-)use those concepts, they cannot legally do so within RDF, because RDF requires identifiers to be URIs.
would it make sense to include something in RFC 5988bis that would allow RDF

[2013-11-25 23:43] mnot opened #40 "Registration procedure"
(from Bjoern)

Given that

  Within at most 14 days of the request, the Designated Expert(s) will
  either approve or deny the registration request, communicating this
  decision to the review list and IANA. ...

does not happen in practise, revising the registration process should be
a primary concern.

This issue includes discussion of how the registry should be managed, or *not* managed.

[2013-11-27 00:05] dret opened #41 ""home" link relation"
would it make sense to add a "home" link relation to the home document draft? if not, should the draft maybe suggest the use of an existing one to use when linking to a home document? "start" maybe isn't terrible when just looking at the name, but then again it seems to be more "first" than "home" when looking at the definition: "Refers to the first document in a collection of documents. This link

[2013-12-06 17:58] dret opened #42 "RNC schema, and the extension model in general"
currently, the text in appendix A makes statements about how extensions should be serialized, but the RNC schema does not attempt to capture those constraints. which may be fine, but it also may confuse readers when they try to match what the text is saying to what the schema is doing.
maybe this is touching upon the bigger issue of how extensibility is defined: is the extensibility essentially JS

[2014-02-11 20:47] MajorBreakfast opened #45 "draft-nottingham-http-problem-06"
@steveklabnik, the person who is currently leading the efforts of developing the [json-api](jsonapi.org) spec suggested that I should post my concerns about the http-problem specification right at the source (I'm guessing that's here).

I've written a lengthy comment about it: https://github.com/json-api/json-api/issues/7#issuecomment-34739285. It would be great if you were willing to discuss any

[2014-05-07 23:28] dret opened #55 "Accept-Post in draft-nottingham-link-hint"
"accept-post" as it is currently defined in the draft-nottingham-link-hint draft works different from the current proposal in http://tools.ietf.org/html/draft-wilde-accept-post. it would be good to align the way in which these fields work. Currently, the "accept-post" of link hints allows a list of specific media types, whereas the Accept-Post header field may contain "media ranges".

[2014-07-29 04:47] mnot opened #61 "Context of link header"
RFC5988, 5.2:

     By default, the context of a link conveyed in the Link header field
     is the IRI of the requested resource.

This means that the Link in a request has a context of the requested resource. Using the request representation itself might be more sensible.

See:
  http://httpwg.github.io/specs/rfc7231.html#identification

[2014-08-01 18:39] jasnell opened #64 ""safe" hint Link extension param or link relation"
Something to consider to go along with the safe-hint. To allow a server to advertise that it offers a "safe" alternative to any given resource:

[code]

The implication here would be that by default, the given resource may not be safe, but that the "safe" alternative will be provided if "Prefer: safe" is included in the request.

The alternative is to use a "safe" link relation:

[code]

The impli

[2014-10-07 04:32] mnot opened #65 "Key / Vary precedence"
Make it explicit that you can ignore Vary if you understand Key.

[2014-10-07 04:35] mnot opened #66 "Different Keys for different representations?"
Discussion with Leif:

Interesting thought. So when the Key: changes, that is an implicit invalidation of all other alternates for that URL?

[2014-10-07 04:36] mnot opened #67 "Case handling"
Discussion with Leif:

I think case insensitive matches makes sense. Case sensitivity *might* make sense on e.g. some cookie values that are e.g. base-64'd… How likely that is to be used in a real implementation, I honestly don't know.

[2014-10-07 04:37] mnot opened #68 "pr and "naked" values"
Discussion with Ilya:

[2014-10-07 07:15] mnot opened #69 "CONNECT -> TUNNELED"
_from Kevin Smith on-list_

Section 3.6:

IIRC CONNECT involves the proxy in the setup of the tunnel, in which case 'MUST NOT use the WPD's proxies' seems misleading. If the intention is that the request is that tunnelled requests are always direct, then maybe 'TUNNELLED' is a more appropriate value.

[2014-10-13 05:57] mnot opened #71 "Authentication?"
It might be useful to allow the WPD to pass proxy auth info to the proxy.

Likewise, it might be interesting to allow auto to be required to fetch the WPD. However, the UX for that would be difficult, if we want to get to something more than a modal dialog box.

[2014-11-04 09:20] ahacking opened #74 "Applicability of this media type to JSON flavoured API's"
This current draft and the ones preceding it appears to have such limited applicability as to be unusable for the majority of api use cases where JSON is used so I am wondering are JSON api's an intended use case for the draft?

It is fairly typical to return multiple problems when the JSON presented to a server cannot be processed. The canonical use case is a set of validation errors which have a

[2014-11-24 02:59] mnot opened #76 "camelCase"
for the JS people.

[2015-01-17 18:12] elf-pavlik commented on #39
Hi everyone, I wonder if we can add checklist with some clear :white_check_mark:   **ACTION** points to move forward here?

@tantek & @msporny do you see any possible issues with how HTML5 and RDFa1.1 define **rel** ?
* http://www.w3.org/TR/html5/document-metadata.html#attr-link-rel
* http://www.w3.org/TR/rdfa-syntax/#A-rel

[2015-02-12 06:23] martinthomson opened #90 "Remove AAD from encryption"
The discriminator string probably isn't needed since we munge the CEK with a string that has a similar function.  And the record index is part of the IV.

Jim Schaad is convinced that you need to roll the tag from the previous block in to prevent substitution attacks, but I think you are screwed at that point anyway.

Run by @ekr first.

[2015-02-12 06:27] martinthomson opened #91 "Padding change"
Jim Schaad suggests that padding being zero is bad if AES-GCM ever loses its inviolate IND-CCA(2) status.  That would open up some known plaintext attacks, probably similar to those that people are getting excited about with in RC4.  I'm not concerned, but I think that it's worth checking to see if this is worth addressing.

A simple change would be to insist on all the octets being a repeat of th

[2015-02-13 00:05] martinthomson opened #92 "Consider Encryption header field split"
Logically, there are two functions for this header field:
* To describe the encryption (nonce and keyid)
* To describe the key derivation for a given keyid.

@bifurcation suggests that two header fields be used, if only to make the story a little easier to tell.

We can use the former to say: "assume a shared key with ID X", then the latter one can deal with the business of actually describing how

[2015-02-13 00:13] martinthomson opened #93 "Be more explicit about what out-of-band information is needed for ECDH"
Currently, we aren't very precise about this.  The actual information required is:
* the curve
* the point format
* an identifier for all of the above

[2015-02-13 01:19] #93 closed

[2015-02-15 00:09] mnot commented on #92
Interesting. Not as sure as JWK as *the* way to do it, but it might be interesting as an option. WDYT?

[2015-02-15 00:09] mnot commented on #91
Call on the collective wisdom of the crypto avengers and deliver a verdict.

[2015-02-15 00:09] mnot commented on #90
@ekr?

[2015-02-15 00:16] ekr commented on #90
I don't think I understand the proposal. Can you explain exactly what is intended?

[2015-02-16 02:06] martinthomson commented on #92
I wasn't thinking that JWK was the only option, or even *an* option in the core specification, but I can certainly see how a split might make it easier to explain.

[2015-02-16 02:09] martinthomson commented on #90
There are two things in the AAD:
1. a discriminator string that identifies this as being encrypted with this specific scheme.  This makes substitution into or out of other encryption formats difficult.
2. the sequence number of the block, which makes it difficult to move records around, reorder, drop, etc...

(Basically the design is ripped from the TLS record format).

The idea is that neither is

[2015-02-16 04:25] mnot commented on #92
SGTM.

[2015-02-16 05:04] ekr commented on #90
Is there some reason not to include these?

On Sun, Feb 15, 2015 at 6:09 PM, Martin Thomson <notifications@github.com>
wrote:

[2015-02-16 10:18] martinthomson commented on #90
That's not a particularly good reason to keep them if they are indeed redundant.

[2015-02-16 17:23] ekr commented on #90
I believe we do not need the discriminator string, but I would advise checking with a cryptographer before removing the sequence number.

[2015-02-23 08:02] elf-pavlik commented on #39
@mnot @tantek while neither IANA and microformats do NOT provide stable URI for all the terms in open controlled vocabularies, which they manage. Would you see problem if someone else provided such stable URIs, for example via https://w3id.org/ ?
* https://w3id.org/iana/type
* https://w3id.org/microformats/h-entry

(or possibly using # pattern for such nice and small vocabularies)

* https://w3id.

[2015-02-23 13:52] msporny commented on #39
@elf-pavlik - yes, that approach is appropriate wrt. w3id.org. If IANA / IETF wants to add themselves to be a co-maintainer of the w3id.org website, it would be welcomed w/ open arms. The same invitation has been extended to W3C, but they'd like to publish terminology such as this in W3C-space. I expect that IANA / IETF will most likely want to do the same.

For schema.org, when they weren't publi

[2015-02-23 16:24] prototypo commented on #39
+1

Regards,
Dave
--
http://about.me/david_wood

[2015-02-23 16:32] dret commented on #39
just one word of caution: experience shows that when you create specs that say "you can refer to this concept by identifier a or b", the minority of implementations handle this correctly (see @jasnell's comment https://github.com/mnot/I-D/issues/39#issuecomment-30522032 and similar implementation experience from activity streams which also defined synonyms that weren't supported well by implementa

[2015-02-23 16:42] kidehen commented on #39
On 2/23/15 8:52 AM, Manu Sporny wrote:

I only have one horse in this race, and its all about making names
interpretable using Linked Open Data patterns. That's it.

--
Regards,

Kingsley Idehen
Founder & CEO
OpenLink Software
Company Web: http://www.openlinksw.com
Personal Weblog 1: http://kidehen.blogspot.com
Personal Weblog 2: http://www.openlinksw.com/blog/~kidehen
Twitter Profile: https://twi

[2015-02-23 22:48] tantek commented on #39
Elf, this is not a reasonable assumption nor framing: "while neither IANA and microformats do NOT provide stable URI for all the terms in open controlled vocabularies, which they manage" thus I interpret the rest of your proposal as unnecessary.

How are you measuring such "stability" so as is to assert it (w3id) or lack thereof?

From my experience, both IANA and microformats appear have fairly g

[2015-02-24 08:59] dret commented on #39
@tantek, it is my understanding that when @elf-pavlik  talks about "provide stable URI for all the terms in open controlled vocabularies", he not only talks about defining URIs, but for the ability to dereference them and get something back as a response. which is an entirely different issue, imho, but i think this may be the slight misunderstanding between the two of you. please correct me if i a

[2015-02-24 13:36] kidehen commented on #39
On 2/24/15 3:59 AM, Erik Wilde wrote:

Yes, this is all about URIs resolving to descriptions of what they
identify.

Right now we have:

1. http://www.iana.org/assignments/link-relations/link-relations.txt
2. http://www.iana.org/assignments/link-relations/link-relations.xhtml
3. http://www.iana.org/assignments/link-relations/link-relations.xml
4. http://www.iana.org/assignments/link-relations/link

[2015-02-25 20:00] elf-pavlik commented on #39
@kidehen do you have any suggestions for mentioned earlier on this thread http://microformats.org/wiki/existing-rel-values (HTML5 spec uses it as official registry of link relations!)

please also notice earlier comment by @darrelmiller

and reply by @jasnell

[2015-03-04 23:30] #90 closed

[2015-03-04 23:30] #92 closed

[2015-03-05 02:17] kidehen commented on #61
@mnot has this issued been attended to in HTTP 2.0?

[2015-03-05 03:04] mnot commented on #61
HTTP/2 doesn't talk about semantics; this would need to be an errata or update to 5988.

[2015-03-20 15:26] martinthomson opened #101 "Examples in encrypted C-E are wrong"
I just discovered a bug in my implementation.  This is a reminder to fix them.

[2015-03-22 19:47] #101 closed

[2015-03-23 22:50] mnot opened #103 "SHOULD link to a HTML resource"
@domenic felt that this was too strong a requirement in https://github.com/w3ctag/spec-reviews/issues/37 .

[2015-03-23 22:50] mnot opened #104 "Type as URI"
On https://github.com/w3ctag/spec-reviews/issues/37 @domenic said:

I think the core of my issue is envisioning someone designing a HTTP API, perhaps someone who hasn't bought into REST all that much. They might naively expect something like { "type": "not_enough_money" }. Being told that they have to convert this to { "type": "https://api.example.com/error-types/not_enough_money" } could cause th

[2015-03-23 22:53] mnot opened #105 ""title" and "detail""
From @domenic on https://github.com/w3ctag/spec-reviews/issues/37 :

Sure, I got that. But when is that helpful?

[2015-03-23 22:58] mnot opened #106 ""instance" as URL"
@domenic in https://github.com/w3ctag/spec-reviews/issues/37 :

[2015-03-23 22:59] mnot opened #107 "Extension namespacing"
Brought up by @domenic in https://github.com/w3ctag/spec-reviews/issues/37 .

Suggestion is either to reserve syntax (e.g., "-" in keys), or have an explicit extension object.

[2015-03-24 12:45] martinthomson opened #108 "Encrypted c-e might be vulnerable to truncation"
On the record boundaries... Need to think on it.

[2015-03-25 08:30] dret commented on #107
Since we also define an alternative XML serialization, it would be good to make sure that whatever the extension convention is, it maps reasonably into XML. Using XML namespaces probably would not be a good way to go, so the XML would simply reflect the JSON convention.

[2015-03-30 23:00] #108 closed

[2015-04-01 03:21] mnot commented on #71
Closing; WPD is abandoned.

[2015-04-01 03:21] #71 closed

[2015-04-01 03:21] mnot commented on #69
Closing; WPD is abandoned.

[2015-04-01 03:21] #69 closed

[2015-04-04 20:17] elf-pavlik commented on #39
It looks that another big difference in using link-relations/predicates in RDF serializations and in HTTP Link Header relates to using them as in(re)verse. In Web Linking spec we find:

   semantics of the relationship are in the reverse direction.  That is,
   a link from A to B with REL="X" expresses the same relationship as a
   link from B to A with REV="X". "rev" is deprecated by this
   spec

[2015-04-05 15:15] timbl commented on #39
On 2015-04 -04, at 16:17, ☮ elf Pavlik ☮ <notifications@github.com> wrote:

Yes the above passage is unfortunate and in the spec "against my better judgement" as they say.

I would personally encourage people to use "rev" as well as "rel', and to invent only one predicate not two.

It is worth starting a movement to have the spec changed, or the modern style to issue another best practice spec whi

[2015-04-05 19:11] elf-pavlik commented on #39
I believe most of the people participating in this issue will also attend [TPAC 2015](http://www.w3.org/2015/11/TPAC/), maybe it will give an opportunity to meet face 2 face and discuss possible improvements to current state of things?

As of today, attempts to navigate between link-relations and RDF predicates mismatch, results in proposals like for example @jasnell's http://www.w3.org/TR/activit

[2015-04-06 16:22] elf-pavlik commented on #39
@gkellogg in https://github.com/w3c/csvw/issues/297#issuecomment-90078110

  "url": "http://www.iana.org/assignments/link-relations/link-relations-1.csv",
  "tableSchema": {
    "aboutUrl": "{name}",
    "lang": "en",
    "columns": [
      {"name": "name", "title": "Relation Name", "propertyUrl": "rdfs:label"},
      {"name": "comment", "title": "Description", "propertyUrl": "rdfs:comment"},

[2015-04-14 10:40] elf-pavlik commented on #39
https://github.com/aaronpk/Micropub/issues/1#issuecomment-92421316

In issue above @tantek and [aaronpk](https://github.com/aaronpk) argue that registry recommended by WHATWG and W3C in HTM5 spec -  http://microformats.org/wiki/existing-rel-values also applies to HTTP Headers and using *micropub* and *webmention* there does NOT require additional registration with IANA.
In response to issue I rais

[2015-04-19 11:02] akuckartz commented on #104
The alternative

might be an option if the URL is not required to be dereferencable.

[2015-04-23 13:10] prushforth commented on #33
I entered a (rejected) erratum on the subject of the acceptable syntax for the media type parameter, here: http://www.rfc-editor.org/errata_search.php?rfc=5988 , number 4344.  I believe the discussion relating to the basis for rejecting my suggestion is in this thread:
https://lists.w3.org/Archives/Public/ietf-http-wg/2010JanMar/0153.html

Hopefully a resolution can be found by allowing media type

[2015-04-24 18:16] kevinburkeshyp opened #112 "HTTP problem spec is expired"
The latest version of the HTTP problem spec (that I can find, anyway) indicates March 23, 2015 as the expiration date: https://tools.ietf.org/html/draft-ietf-appsawg-http-problem-00

Is there a new draft?

[2015-04-27 05:00] mnot commented on #112
Not yet; we have some issues to work through.

BTW, it's better to ask on the mailing list (apps-discuss@ietf.org, as mentioned in the draft) than create an issue for this sort of thing.

[2015-04-27 05:00] #112 closed

[2015-04-27 06:30] mnot commented on #105
It's for when you want a short, human-readable message specific to what happened; e.g., you might show it in a UI.

[2015-04-27 06:31] mnot commented on #106
Does allowing relative URLs help?

[2015-04-27 06:32] #104 closed

[2015-04-27 06:32] #103 closed

[2015-04-27 06:36] mnot commented on #107
I'm a *little* bit sensitive to people who are already using the format; don't want to break them unnecessarily.

How about defining a container for extensions to go into, and then saying that other unrecognised root members need to be ignored? That would allow future standard extension as well as existing ad hoc uses.

Question is, what to call it? "payload"? "ext"? "extra"?

[2015-04-27 06:40] mnot commented on #45
We're trying to get the spec to WGLC in the apps area WG, and I realised we never closed this discussion out. Sorry.

AFAICT, the major points left:

* "type" should be shorter. See resolution to #104 - is that better?
* "title" is to convey a quick, human-readable name for the error, whereas "type" is to identify it to machines. Make sense?

Anything else?

Thanks,

[2015-04-27 17:54] dret commented on #107
could you please give a short JSON example of what you're thinking of? that would help, and then i can also see how (well) this would map for the XML representation. if there's such a mechanism, there should be examples of it in the spec anyway, right?

[2015-04-28 01:28] mnot commented on #107
The existing example in the spec is:

[code]

... which I'm saying should become something like:

[code]

(delta the name of the thing)

[2015-04-28 03:16] dret commented on #107
not sure that this was part of the suggestion, but if there are "extension objects", another possibility would be to have an array of them and have identifiers (most likely URIs) for them, so that extensions would be packaged and labeled. maybe that's overkill, but if we're trying to separate "well-known" and "extension" properties, we might as well structure the extensions. the downside is that t

[2015-04-28 03:49] mnot commented on #107
That seems like a barrier to entry / use...

[2015-04-28 04:13] dret commented on #107
so then the model is to have one unstructured bag of extension properties and they go all in there? then the wording about disallowing extensions on the outer level should be rather strong, i assume.

[2015-06-08 05:59] mnot commented on #39
Reading over this issue, I think we're actually talking about a number of (hopefully separable) issues:

This issue is "how do I find a link for a registered relation type." I think the resolution is a modification of what I suggested way above (incorporating feedback from @dret). In "Registered Relation Types", add:

*(with possible adjustments to the prefix depending on decisions below)*

Anothe

[2015-06-09 10:39] elf-pavlik commented on #40
Does this issue relates only to [Link Relations Registry](https://www.iana.org/assignments/link-relations/link-relations.xhtml) or also [other registries](https://www.iana.org/protocols)?
* [Media Types](http://www.iana.org/assignments/media-types/media-types.xhtml)
* [The Profile URI Registry](https://tools.ietf.org/html/rfc7284)
* [OAuth Parameters](http://www.iana.org/assignments/oauth-paramete

[2015-06-09 23:18] mnot commented on #40
Only link relations.

[2015-06-10 03:00] jrnail23 opened #114 "Question: Status of json-home?"
Just wanted to ask about the current status of the json-home draft... I noticed that v3 expired quite a while back.  Will it be updated anytime soon, has it been abandoned, or is it considered complete?
Also, as of v3, representation hints were listed as "TBD" -- has any progress been made on that, or should they simply be ignored when implementing json-home?

Thanks in advance!

[2015-06-15 20:32] dret commented on #41
if "home" is added, it might be interesting to see how it compares to the relation types proposed by http://tools.ietf.org/html/draft-wilde-service-link-rel

[2015-06-16 00:23] mnot opened #115 "Editorial from RLB"
https://mailarchive.ietf.org/arch/msg/dnsop/uUv66smASM1u2KWH3BQEKPb0x4Y

"""
   This information is not meaningful to the Tor
   protocol, but can be used in application protocols like HTTP
   [RFC7230].
"""

It took me a second to process what this meant.  Would the following
phrasing be correct?

"""
   Labels beyond the first label under ".onion" are not used by
   the Tor routing, so for examp

[2015-06-16 00:26] mnot opened #116 "Editorial from Tom Ritter"
https://mailarchive.ietf.org/arch/msg/dnsop/_t_7kF6Wd_bEGkjaJlyf6bWMa0o

 - Noted for the first time that the IETF boilerplate uses the oxford
comma. (I like the Oxford comma, but it seems most don't.)
 - "visually or apparently semantically similar to the desired
service" - not sure what "or apparently semantically" adds to this,
seems to be a repeat of "visually"

[2015-06-16 00:27] mnot opened #117 "Use of "TLD""
https://mailarchive.ietf.org/arch/msg/dnsop/8x522tdE01T0UY6X6Dry4TuIctw

The document uses the phrase "top-level domain" all over the place to
describe .onion. That phrase to me seems indelibly linked to its meaning
in the context of the DNS; in the case of Tor, however, we're not
talking about the DNS at all, but rather the use of a completely
separate namespace that just happens to be syntactica

[2015-06-16 00:28] mnot commented on #117
Suggestion from Ted Lemon: "reserved special-use top-level domain name"

https://mailarchive.ietf.org/arch/msg/dnsop/fOBK84kpyTWfmTS_r3o4GAU20TY

[2015-06-16 00:31] mnot opened #118 "Editorial from PS"
".onion names are often used provide access to end to end encrypted,
secure, anonymized services; that is,"

should be

.onion names are often used to provide access to end to end encrypted,
secure, anonymized services; that is,

[2015-06-16 00:32] mnot opened #119 "Editorial from RD"
- Look at the three instances of the phrase "Section 2", and note that
two of them are Section 2 of this document, and the third is I think
Section 2 of a different document. It might be smart to add a phrase like
"of that RFC" to the middle one.

- If you want, you could say that your affiliation is "The Tor Project,
Inc". That is our official name. (to Jake)

- Oh oh, while I'm being pedantic: y

[2015-06-16 00:42] mnot commented on #45
Not hearing anything, so closing.

[2015-06-16 00:42] #45 closed

[2015-06-16 00:43] mnot commented on #105
Not hearing anything, so closing. If you think the spec could be improve here, please re-open or comment.

[2015-06-16 00:43] #105 closed

[2015-06-16 00:43] mnot commented on #106
Not hearing anything, so closing. Please comment or re-open if you have more.

[2015-06-16 00:43] #106 closed

[2015-06-16 01:54] #119 closed

[2015-06-16 01:57] mnot commented on #119
WRT "Section 2" -- they're all same-document refs, and this is normal IETF style.

[2015-06-16 01:57] #118 closed

[2015-06-16 01:59] #116 closed

[2015-06-16 02:09] mnot commented on #115
WRT the first point - I think this goes too far in specifying the HTTP behaviour, and I don't think that's the intent here.

[2015-06-16 02:15] mnot commented on #115
@bifurcation - please review 779e194 and previous comment.

[2015-06-16 02:20] #117 closed

[2015-06-16 20:38] ethanresnick commented on #41
The `contents` relation originally from html might also be able to do this. I'm curious what  others think about that though!

[2015-06-16 20:44] dret commented on #41
http://www.w3.org/TR/1999/REC-html401-19991224/types.html#type-links says that `contents` 'Refers to a document serving as a table of contents. Some user agents also support the synonym ToC (from "Table of Contents").'
to me, that's a bit different from "home" itself (for example, at a "home" resource you might even find a link to a "contents" resource), but i am curious to hear more opinions as w

[2015-06-19 01:35] mnot commented on #115
Not hearing anything, so closing.

[2015-06-19 01:35] #115 closed

[2015-06-22 13:25] darrelmiller commented on #107
I was just discussing the issue of extension properties with @mamund and some audience members after at talk at NDC Oslo where I was showing HTTP Problem.  I really like the fact that there is no structural difference between standard properties and extension properties.  It has the benefit that if some extension property becomes popular it could be adapted into the specification without impacting

[2015-06-22 15:05] mamund commented on #107
In Cj, the decision was lean on MUST-IGNORE behavior and allow added properties and objects as long as there was a "registered extension" in the standards repo. This provides some barrier to entry and review that is helpful. but it still runs the risk of collisions.

In UBER the thinking is closer to @mnot's example here -- a named element of some type. in UBER we plan to use a common element for

[2015-06-22 23:24] mnot commented on #107
@darrelmiller - The problem is that it'll be a huge judgement call as to whether to prefix your extension based upon whether you think it might eventually gets into the "standard" space or not.

History shows us that people have a really hard time making that determination well; lots of things that are app-specific get into the "standard" space (because people don't care or don't have time to read

[2015-06-22 23:37] mnot commented on #107
Another option would be to not change anything, but require any future version of the spec to use a different media type.

[2015-06-24 16:37] dret commented on #107
just as a data point: https://tools.ietf.org/html/rfc6648 (@mnot is co-author, so no surprises here).

[2015-07-21 13:32] mnot opened #121 "value neutrality"
Harald points out that the IETF is *not* neutral -- we have values. If we don't, we're merely a meeting place.

This has most implication upon the introduction.

[2015-07-21 13:33] mnot opened #122 ""stakeholder""
This term is poisoned. Suggest "constituent"

[2015-07-21 13:34] mnot commented on #121
Because our decisions have ethical implications, we must consider them, and determine whether they're within our core values. We do so in a well-defined open fashion.

[2015-07-21 13:35] mnot commented on #121
If something reduces openness, we're against it.

[2015-07-21 13:35] mnot opened #123 "game theory"
Harald suggests that "playing field" and similar implies a zero-sum game.

[2015-07-21 13:40] mnot opened #124 "Promoting Stakeholders as "Winners""
This is too strong; federation is not always the right solution. The Internet has two central points of control (DNS and IP addresses), and they have good effect.

In the few cases where points of control are appropriate; we need appropriate stewardship (responsible for them; e.g., ICANN).

Perhaps combine this and the intermediary section; it's about points of control/access.

[2015-07-21 13:47] mnot opened #125 "General Feedback"
Needs full community review; both on list and in plenary.

Effectively we're making the code law, and taking ethical responsibility for it.

[2015-07-21 15:31] akuckartz commented on #122
I disagree that it is poisened.

[2015-07-21 15:33] akuckartz commented on #121
:+1:

[2015-07-22 12:22] #122 closed

[2015-07-24 08:34] mnot commented on #124
Removed the federation section, not part of the core message.

[2015-07-24 08:34] #124 closed

[2015-07-24 08:34] #123 closed

[2015-08-17 05:41] mnot commented on #114
Just on the back burner; will dust it off soon. Not sure about hints yet.

[2015-08-17 05:41] #114 closed

[2015-08-24 14:13] jrnail23 commented on #114
Thanks for the update, @mnot.

[2015-09-02 03:49] mnot commented on #25
Taken care of in -03-to-be.

[2015-09-02 03:49] #25 closed

[2015-09-02 03:49] mnot commented on #65
Taken care of in -03-to-be.

[2015-09-02 03:49] #65 closed

[2015-09-02 03:55] mnot commented on #66
Think this is addressed in -03-to-be.

[2015-09-02 03:55] #66 closed

[2015-09-02 03:59] mnot commented on #68
Don't think this is relevant any more; maybe an extension.

[2015-09-02 03:59] #68 closed

[2015-09-02 03:59] mnot commented on #24
Not relevant in -03 any more.

[2015-09-02 03:59] #24 closed

[2015-09-02 04:11] mnot opened #130 "Policy for key parameter registry"
IETF Consensus is probably too high a bar.

[2015-09-02 06:22] yoavweiss opened #131 "Whitespace requirement might be too harsh"
`Whitespace is not allowed in the field-value between each field-name and its parameter set.`

As a potential implementor it makes the parsing algorithm simpler, but I'm also afraid it'd create a subtle way in which people would fail to deploy this syntax in real life.

Since supporting whitespace won't add significant complexity to the parsing algorithm, can we allow it?

[2015-09-03 04:43] zwoop opened #132 "Each field-name should be used only once in a Key header"
To simplify implementations, as well as making sure servers provide efficient Key headers, maybe we should require that a particular field-name is only used once. I.e. this would not be allowed:

    Key: Cookie;param=a, Accept-Encoding;match=“gzip”, Cookie;param=b

whereas this would be:

    Key: Cookie;param=a;param=b, Accept-Encoding;match=“gzip"

For this to be usable, it would have to be a "

[2015-09-06 11:31] mnot commented on #91
Closing this; @martinthomson I trust you've taken care of this in your copy.

[2015-09-06 11:31] #91 closed

[2015-09-07 05:56] #107 closed

[2015-09-07 06:46] mnot opened #133 "generational constant"
From @royfielding:

[2015-09-07 08:57] alagoutte opened #134 "Flag value"
On H2, other frame type (DATA, HEADERS, PUSH_PROMISE) use always 0x08 to say, there is pad stuff

May be also use bit6 for IPv6 flag on IP / HTTP2 frame type ?

[2015-09-16 10:03] elf-pavlik commented on #39
@timbl @mnot @tantek sadly I don't see any progress in #40 :worried:
If you all participate in [W3C TPAC 2015](http://www.w3.org/2015/10/TPAC/), maybe at least all three of you could discuss this issue there IRL?

Once again, I find current situation **harmful for The Internet & The Web ecosystem as a whole**! Having a different link relations registry for HTML5 media type and a different for HTTP

[2015-09-23 23:34] mnot opened #135 "List styles"
Roy points out that the lists look like section headers; should update when close to RFC editor.

See:
  https://www.rfc-editor.org/rfc-editor/xml2rfcFAQ.html#q_fancy_lists

[2015-09-24 01:02] darrelmiller opened #136 "First strategy for generating secondary keys infers request doesn't need to be stored"
In section 2.2. the first strategy says..

In order to achieve this, wouldn't the request headers for each stored response need to be cached also?  The next strategy explicitly calls out this requirement,

I must admit, I'm a bit leery about the idea of caches choosing to store authorization headers just in case one day a future key header decides to include it.  I think I would prefer the invalid

[2015-09-24 05:46] mnot commented on #136
Authorization headers always imply a private response, see http://httpwg.github.io/specs/rfc7234.html#response.cacheability

Regardless, there are a number of ways to do this, and not all require storing requests; re-read the text around the second quote above. :)

[2015-09-24 05:46] #136 closed

[2015-09-24 12:15] #125 closed

[2015-09-24 12:25] darrelmiller commented on #136
Just because the request headers are only cached privately does mean there is not a risk associated to it... http://blog.parse.com/learn/engineering/discovering-a-major-security-hole-in-facebooks-android-sdk/
And if someone happens to use a must-revalidate header, the authenticated response can be cached. I've never really understood that relation.

I still don't see how storing all the request he

[2015-09-25 04:14] mnot commented on #136
Keep in mind that Vary also requires storing the relevant request headers.

[2015-09-25 05:02] mnot opened #137 "Splitting on ','"
2.2. Calculating a Secondary Cache Key
https://tools.ietf.org/html/draft-fielding-http-key-03#section-2.2

You need here more quoted string exceptions.

|   4.  Create "key_list" by splitting "key_value" on "," characters.

You need here:    excepting "," characters within quoted strings

as you have in

|       6.  Create "param_list" by splitting "parameters" on ";"
|           characters, excep

[2015-09-25 13:27] darrelmiller commented on #136
Exactly.  But you only need to store the request headers mentioned in the vary header at the time of the request.  If the vary header adds a new field name at a later date, you do not need to know what that request header value was for the stored responses for that new vary header field.  Previously stored responses are only evaluated based on what the vary header was at the time it was stored.

T

[2015-10-05 11:06] reschke opened #138 "typo in escaping discussion"
"Note that, as per [RFC7231], parameter names are case-insensitive and parameter values can be double-quoted strings (potentially with ""-escaped characters inside)."

It looks like a backslash is missing here.

[2015-10-05 11:09] reschke opened #139 "parsing bug wrt comma"
"4.  Create "key_list" by splitting "key_value" on "," characters."

This doesn't work when a parameter contains a comma.

[2015-10-05 22:32] mnot commented on #138
Forgot to escape the escape. Thanks.

[2015-10-05 22:33] mnot commented on #139
Dup of #137

[2015-10-05 22:33] #139 closed

[2015-10-08 00:19] #121 closed

[2015-10-14 12:57] asbjornu commented on #39
I agree with @elf-pavlik. The current situation is indeed harmful and even more fragmentation is being suggested as we write this, by different RDF based vocabularies defining their own semantics and names for relations that already exist in IANA. Not having a single registry for this that can support RDF, HTML5 and HTTP headers is quite terrible.

@timbl writes:

In an ideal world, I agree, but a

[2015-10-14 14:26] niklasl commented on #39
:+1: Certainly agree. Adding some simple RDFS statements about the IANA relations in one of the official representations has come up for many years. Now there might be interest enough and traction to make it happen. It would be quite simple to do so (e.g. by adding some RDFa like in http://www.w3.org/1999/xhtml/vocab#).

The "reinvention" of them in various vocabularies is understandable but fragm

[2015-10-15 08:41] stain commented on #39
+1 to add RDFa or similar, for both link relations and media types. Link types and media types are used beyond HTTP headers and need stable URIs, not just "The word `disclosure` in that IANA Link registry you know".

For media types I have previously used http://purl.org/NET/mediatypes/ as not all media types have URIs at IANA - http://www.iana.org/assignments/media-types/text/plain is the most gl

[2015-10-15 09:16] niklasl commented on #39
@stain Indeed, tweaking the relevant part of link-relations.xsl to something like:

[code]

would do the trick.

[2015-10-15 09:33] stain commented on #39
great, @niklasl - I made something along those lines - perhaps you could help me finish it? Not sure if owl:ObjectProperty is appropriate, so I went with just `skos:Concept`

See https://gist.github.com/stain/d4656bede203b7c3ba4e
Feel free to use. CC0 or whatever.

[2015-10-15 09:35] stain commented on #39
I used URIs like http://www.iana.org/assignments/relation as it redirects correctly to the XHTML, I didn't think http://www.iana.org/assignments/link-relations/link-relations.xhtml#relation would be a nice identifier. (A compromise could be http://www.iana.org/assignments/link-relations#relation which with a bit of `id="relation` would scroll to the right line)

[2015-10-15 23:32] mnot opened #140 "Stable URIs for registered relation types"
From #39. We need a convention for registered relation types to be assigned URIs, so that applications (such as RDF) can refer to them.

From previous discussion:

I think the resolution is a modification of what I suggested way above (incorporating feedback from @dret). In "Registered Relation Types", add:

(with possible adjustments to the prefix depending on decisions below)

[2015-10-15 23:35] mnot commented on #39
I've created #140 to capture the specific issue about registered relation types.

#40 is about the management of the registry itself.

[2015-10-15 23:35] #39 closed

[2015-10-16 00:10] mnot commented on #32
Huh. Internationalisation Considerations in 5988 already says:

So, I think we can close this one.

[2015-10-16 00:10] #32 closed

[2015-10-16 00:16] mnot commented on #33
@reschke ping

[2015-10-16 01:07] mnot opened #141 ""semantically equivalent""
No, it's not; an application has to opt into using the link header field.

[2015-10-16 01:08] #141 closed

[2015-10-16 01:14] mnot opened #142 "Clarify "applications" and "serialisations""
These are core concepts that aren't yet well spelled out.

[2015-10-16 03:06] mnot opened #143 "Error handling on Link headers"
- syntax recovery
- multiple instances of [rel, target attributes]

[2015-10-16 03:32] dret commented on #140
i would consider even stronger wording, such as "the resulting URIs MAY NOT be used outside of well-defined environments, and any serialization depending on registered IANA link relations MUST use the registered strings as link relation type identifiers." maybe that's too strict, but i think there's quite a risk here that the URIs will creep out of the places where they need to be used (such as RD

[2015-10-16 03:39] dret commented on #40
even though the 14 day deadline may not always have been strictly followed, it seems that the spirit of the review process is followed (have expert reviews and give feedback and include the value if accepted). i have been following that particular registry very closely, and personally have been happy with how the registration process has been handled so far.

[2015-10-16 03:47] mnot commented on #40
I think a good portion of the problem is friction; it's not reasonable to ask people to subscribe to a mailing list to submit something.

A form (e.g., like that for media types, but better) might do the trick, but I want to think through the workflow.

A wiki has been brought up many times. I'm not against it, but looking at the current one:
  http://microformats.org/wiki/existing-rel-values#HTML

[2015-10-16 03:48] mnot commented on #140
Reopening to discuss that, and to remember we need to finalise the URL (considering things like / vs # ), and perhaps instruct IANA about what to do.

[2015-10-16 06:10] dret commented on #40
the wiki part is where the "workflow-based registries are pure evil" people lose me. the "wiki registries" have some workflow part to it, but of course badly done, because that's what wikis are bad at. so in the end it's a poorly managed registry that seems to just bear the cooler name "wiki". and whatever the technical platform is, it seems to me that some form of review/feedback/consensus loop i

[2015-10-16 08:35] elf-pavlik commented on #40
http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions

On mentioned wiki I see proposals like DCTERMS.rightsHolder and many others saying

They [stay in proposed state since March 2015](http://microformats.org/wiki/index.php?title=existing-rel-values&diff=64849&oldid=64838). I also struggle to understand benefit of using `rel="DCTERMS.rightsHolder"` over `rel="http://purl.org

[2015-10-16 09:47] asbjornu commented on #40
I'm in perfect line with @elf-pavlik on this. :+1:

[2015-10-16 17:53] dret commented on #40
On 2015-10-15 22:35, elf Pavlik wrote:

i think it's clear where the IANA process is lacking:

- no easy way to find a history of registry updates.
- no easy way to contribute other than by email.

afaict, these things would be fairly easy to fix with better
interlinking between the registry and whatever medium is used for
discussions. that could be done with a wiki, but wikis tend to be pretty
ba

[2015-10-16 18:01] elf-pavlik commented on #40
Actually I have impression that http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions doesn't work that well at all! :-1:

:+1: something like Pull Request workflow with Github/Gitlab discussion thread attached, it seems to work very fast for example with with https://github.com/perma-id/w3id.org

[2015-10-16 20:07] akuckartz commented on #40
I agree with @elf-pavlik that URIs should be used. URLs preferrred!

[2015-10-16 20:13] dret commented on #40
On 2015-10-16 10:07, Andreas Kuckartz wrote:

this issue is not about changing the nature of link relation types.
these are and will remain strings. this issue is just about how to maybe
improve the way in which those strings are registered. for the question
of how those may be used in environments that don't work well with
non-URI identifiers, please refer to #140.

[2015-10-16 22:26] asbjornu commented on #40
I too think pull requests are a better tool to aid in the process than a chaotic wiki. Pull requests provide a natural place for discussion of the proposed change before it is accepted and merged. With tags and "releases" on GitHub, you can track version numbers in a user friendly way too. And `readme.md` provides a pretty thoughtful rendering of the repository's documentation.

I find GitHub a ra

[2015-10-16 22:39] mnot commented on #40
Hm. I wonder if we simply need to define the guarantees that that the registration process offers, but leave the actual mechanics of operation up to the Expert(s), and say that IANA will put text on the registry page to facilitate that at the direction of the Expert(s).

That way, we could set up a Github repo (perhaps plus a Google form for those who don't want to create a Github account) to do t

[2015-10-16 22:45] dret commented on #40
to me, that's definitely the way to go; say what the process should accomplish and how (from a workflow perspective). how to implement it is something else, and usually can be accomplished with all kinds of implementation platforms. to me, that's where the "IANA vs. Wiki" discussions failed to focus on the aspects that actually matter.
however, in the end there has to be one designated implementat

[2015-10-16 22:49] mnot opened #144 "Requirements for IANA page"
Assuming that the final product of the registry is still an IANA page (and it appears that is the case), what requirements should we place upon it? E.g.

* URL
* Text at top of page
* Registry entries
* URL anchors
* XML format

I think it's reasonable to assume that IANA will product exactly one non-HTML format, and that will be XML; this is what they do for other registries, and we shouldn't exp

[2015-10-16 22:49] mnot commented on #40
OK, I'm going to start working on text to that effect; I suspect we still need to hammer through what the process requirements should be on this issue.

In the meantime, we also need to consider #144.

[2015-10-16 23:08] dret commented on #144
i like unicorns! well, maybe we can set an example by being more explicit about whatever they produce. here's my unicorn wishlist:

* stable and human-readable URI with no extension: http://registry.iana.com/link-relations
* serving a human-readable document at that URI: http://registry.iana.com/link-relations serves HTML
* working and discoverable fragment identifiers that are equal to the regist

[2015-10-16 23:36] mnot commented on #144
👍🏼

👍🏼

👍🏼 (although some could be tricky, esp. if the more permissive rules in HTML5 are used)

👍🏼

Hmm. How about a link to a way to find that easily (e.g., github search of the issues list)?

I think that follows from the previous.

[2015-10-17 00:50] dret commented on #144
On 2015-10-16 13:36, Mark Nottingham wrote:

not good enough, otherwise people might just add links to google search?
it should be a link to a managed, persistent archive, with a controlled
tagging/categorization strategy (email subjects or github issue/PRs
would qualify). also, come to think of it, that archive also MUST
support subscription, so that people interested in following ongoing
discuss

[2015-10-17 06:28] dret commented on #144
maybe some interesting data points from these long-running experiments of mine... i have tracked three (REST-relevant) registered concepts, which are link relation types, HTTP headers, and media types. https://github.com/dret/sedola/tree/master/IETF contains a set of service descriptions for IETF specs. for example, https://github.com/dret/sedola/blob/master/IETF/RFC/5005.xml represents the concep

[2015-10-17 11:42] dschulten commented on #140
@dret your concern is that services start using the URI and break applications which rely on the simple rel string, right?
Your proposal seems to say: "if you depend on a registered rel, you have to use the simple string. But in a well defined environment you may use the URI instead". The alternative is not quite balanced, it is not about depending on a registered rel vs. well defined environment.

[2015-10-17 18:51] dret commented on #140
maybe i am not quite understanding your usage of the term "implicit"
here. to me, the fundamental problem we're discussing is RDF's lack of
structural (i.e., coherent) context. in HTML/XML (and JSON), it is
trivial to say something like this:

<link href="...." rel="relation"/>

the @rel attribute is only meaningful in the context of the link
element, and the model provides that kind of context. t

[2015-10-17 19:44] dschulten commented on #140
By implicit notion I mean: when an application interprets an HTTP link header or an HTML link element, it can assume that a non-URI @rel value must be a IANA registered rel. Why can it assume that? That fact is not explicit in the link representation, but the application must bring along knowledge about the general implications of an HTTP link header. By being an HTTP link header, the rel attribut

[2015-10-17 20:08] dschulten commented on #140
Or maybe more straightforward:

"Applications which have no concept of context-dependent identifiers to support plain strings as IANA registered link relation types MAY refer to them with a URI [RFC3986] by prepending them with "http://www.iana.org/assignments/relation/". Note that the resulting strings are not considered equivalent to the registered relation types by many processors, and therefor

[2015-10-17 21:41] elf-pavlik commented on #140
trivial to say something like this:
[code]

As I understand it:
* in HTML5 the spec itself **implies** that non URI string values should match those explicitly listed in a spec or registered in blessed registry [1]
* in HTTP Headers, same implication comes from RFC5988 [2]
* AFAIK in JSON each system needs to define their usage of link relations independently since no normative reference exist for

[2015-10-17 21:42] dret opened #145 "Avoid clashing of URI relation types, and the "pseudo URIs" for registered types"
depending on what #140 proposes as the prefix to "URIfy" registered strings, maybe the section on URIs as "non-registered relation types" should mention that prefix explicitly and state than extension types MUST NOT use that prefix? if that sounds reasonable, i could add something to that effect.

[2015-10-17 21:47] elf-pavlik commented on #145
:+1:
It could also recommend to either reuse exiting URIs, which one can find in aggregation services like http://lov.okfn.org/dataset/lov/ or offer guidance on how to choose appropriate namespace for defining a new URI e.g. for HTTP URIs a domain name under one's own control.

[2015-10-17 21:49] dret commented on #140
the difference here is that HTML(5) and HTTP are talking about links
explicitly, whereas JSON is just some data metamodel. in JSON models
talking about links, you often find the very same link relation
semantics encoded (in various variations) as in HTML/HTTP. here is a
very nice overview:

http://dracoblue.net/dev/overview-of-json-hypermedia-link-formats/

there are many (start with above link) a

[2015-10-17 22:04] elf-pavlik commented on #140
*is the only allowed value* if you want to properly reference a
registered type. anything else should not be considered a proper
reference to the registered type, to avoid creeping out those "pseudo
values" onto the web.

Above statements don't seem to take into account environments like RDF which require use of URIs, and to my understanding we try here provide a way to still have there a **proper

[2015-10-18 09:01] elf-pavlik commented on #140
@dret I think we all better trust you and Mark with your spec editorial experience. I would just like to make two requests

1) keeping it as simple as possible and preferably not going into conceptually heavy statements which people may struggle to understand and see as vague
2) offering informative advice about possible consequences of misuse of introduced prefix, and avoiding statements which ma

[2015-10-18 09:18] elf-pavlik commented on #144
Text at top of page
Registry entries
URL anchors
XML format

@mnot since all the relations will still stay *describedby* a single page, I think answer to your question https://github.com/mnot/I-D/issues/144 may suggest *URL + '(/)#'* as prefix with relations themselves used as *URL anchors*

@timbl @kidehen maybe you could offer your expertise on this issue?

Maybe this canonical 'text/html' page

[2015-10-18 10:46] dschulten commented on #145
+1

[2015-10-19 05:13] mnot commented on #21
Moving discussion to https://github.com/httpwg/http-extensions/issues/104

[2015-10-19 05:13] #21 closed

[2015-10-19 05:14] mnot commented on #67
Moving to httpbis repo.

[2015-10-19 05:14] #67 closed

[2015-10-19 05:15] mnot commented on #130
Moving to HTTP-extensions repo.

[2015-10-19 05:15] #130 closed

[2015-10-19 05:16] mnot commented on #131
Moving to http-extensions repo.

[2015-10-19 05:16] #131 closed

[2015-10-19 05:17] mnot commented on #132
Moving to http-extensions repo

[2015-10-19 05:17] #132 closed

[2015-10-19 05:17] mnot commented on #133
Moving to http-extensions repo

[2015-10-19 05:17] #133 closed

[2015-10-19 05:18] #135 closed

[2015-10-19 05:19] mnot commented on #137
Moving to http-extensions repo

[2015-10-19 05:19] #137 closed

[2015-10-19 05:20] #138 closed

[2015-10-19 06:24] asbjornu commented on #141
@mnot Even though it is not semantically equivalent, don't you think it's good to at least reference the `<link>` and `atom:link` elements to provide some context? Once the `Link` header is present, it provides very similar semantics to the two `link` elements. How about:

[2015-10-19 06:30] mnot commented on #141
That's just as confusing. The point is that an application (e.g., web browsing with HTML) has to opt into using the Link header; e.g., rel=stylesheet isn't defined for that, so it doesn't work.

[2015-10-19 06:36] asbjornu commented on #144
@mnot wrote:

Could you please provide a link to a discussion that has lead to the (repeated) conclusion that IANA and IETF should not host HTML documents? I'm completely unable to fathom the decision and would love some reasoning.

@elf-pavlik wrote:

That would solve a lot of problems, but as I understand @mnot, there won't be a canonical `text/html` representation hosted by IANA; it will be in

[2015-10-19 06:37] asbjornu commented on #40
Sounds good. The process is more important than the tools. Although I think GitHub pull requests are an excellent tool on which the process can be modelled. :-)

[2015-10-19 06:47] mnot commented on #144
@asbjornu read again -- they can and do host HTML; I said "exactly one **non-**HTML format" :)

[2015-10-19 06:51] asbjornu commented on #140
@elf-pavlik wrote:

It also seem to not take into account that [RFC 4287 has described this algorithm](https://tools.ietf.org/html/rfc4287#section-4.2.7.2) for almost 10 years now.

Yes, that would be good. But it would work so much better if the resulting page wasn't just an enormous HTML `<table>`, but instead divided into sections (`<h2 id="{relation}">`) that could be referenced individually.

[2015-10-19 06:53] asbjornu commented on #144
@mnot Aha. Sorry; I probably got it mixed up with XML becoming the normative representation of RFC's, which you wrote elsewhere (on e-mail, I think).

[2015-10-19 07:33] asbjornu commented on #141
Good point! I thought "an application has to opt into using the link header field" was the only reason the semantics were different, but `rel="stylesheet"` indeed shows that there's more separating them. Perhaps something should be said to that effect, then? I.e. that while the `Link` header looks similar to `<link>` and `atom:link` and even share quite a few `rel` values, they are in fact differe

[2015-10-19 08:40] iherman commented on #144
Unfortunately (and this just underlines the urgency of solving this whole issue) the CSVW Working Group had to move on, because we plan to issue a Recommendation at the end of January. Ie, we had to close all technical issues quite some times ago. As a consequence, our only choice was to close that issue by exchanging the only 'rel' like property to a property in our own namespace. Ain't pretty, b

[2015-10-19 14:17] gkellogg commented on #144
JSON-LD does not use an implicit context, but it will be useful for people to add to their own definitions.

[2015-10-20 11:22] elf-pavlik commented on #144
@iherman I worry that using CURIE rel:XXX in RDFa may contribute to what @dret to my understanding sees as a concern. [HTML5 4.8 Links](http://www.w3.org/TR/html5/links.html) recommend using link relations without prefix as implicitly mapping to registered link relations, in case of HTML5 spec [delegating it to other than IANA registry](http://www.w3.org/TR/html5/links.html#other-link-types). Pref

[2015-10-23 09:41] elf-pavlik commented on #140
@stain great to see your concrete proposal! I still think that W3C should take responsibility of all the RDF related aspects (possibly using your XSLT) and IANA page could simply link to it using appropriate link relations, as I propose in https://github.com/mnot/I-D/issues/144#issuecomment-149531806

[2015-10-23 10:14] melvincarvalho commented on #140
+1 to http://www.iana.org/assignments/relation/#

Do you even need the final trailing "/"?  Doesnt make a huge difference in the grand scheme of things.

May I request that the final resource is CORS enabled?

[2015-10-23 17:11] dret commented on #140
i am starting to wonder if it wouldn't make sense to start a separate document listing a number of requirements for IANA registries (also including #144 and maybe even #40) and how they are exposed. while not all of IANA's registries will need something like this, for many it might be useful, and least some aspects of it, so separating this issue into a standalone document might be useful to make

[2015-10-24 20:25] elf-pavlik commented on #144
I just noticed that W3C provides namespaces for various HTTP terms
http://www.w3.org/TR/HTTP-in-RDF/#namespaces

And hosts documents which describe them in RDF

[2015-10-24 20:57] iherman commented on #144
Well, yes, but it is just a Working Draft, and I am not sure it will be pursued until a Recommendations.

[2015-10-25 09:21] dret opened #147 "XML Namespace URI"
the current "JSON Problem" draft uses a URN as XML namespace URI, based on what http://tools.ietf.org/html/rfc2648 suggests. now that http://tools.ietf.org/html/rfc7669 has been published, would it be better to use a DOI (in its URI form) instead? sadly, RFC 7669 does not say anything about RFC 2648, but maybe the newer convention should be preferred? afaict, it does not make a big difference beca

[2015-10-27 02:51] mnot opened #148 "Positive / negative rights"
As per andrew s -- positive rights don't make sense, in that you can't guarantee internet access, unmolested transit (e.g., content blocking, firewalling), etc.

Make it more clear that permission-less innovation is a key feature of the internet and negative right.

[2015-10-27 02:51] mnot opened #149 "OPES"
good example of damage we're trying to avoid.

[2015-10-27 05:30] mnot commented on #140
@dret - no, that's been tried and failed before, and I'd like to avoid doing so for now.

All - can we *please* keep issues discussion on-topic? I'm very happy to have the discussion, but not when it veers all over the place. Thanks.

[2015-10-27 05:36] mnot commented on #144
Discussed with @timbl at TPAC. My inclination is to specify:

* The Expert(s) will provide the registry data to IANA in a format that's negotiated by them (likely, the current XML).
* IANA will publish text (including links and other formatting) as directed by the Experts(s) on the HTML of the registry page
* IANA will generate HTML from that
* IANA will also publish the canonical format
* IANA wi

[2015-10-27 05:40] mnot commented on #143
@reschke - IIRC you have some tests for Link; where are they?

@annevk, any useful references / thoughts?

[2015-10-27 06:48] reschke commented on #143
I have a few tests here: http://greenbytes.de/tech/tc/httplink/, but they do not cover error handling.

[2015-10-27 08:30] asbjornu commented on #147
A HTTP URL as namespace URI would be highly appreciated! :smile:

[2015-10-27 08:40] dret commented on #144
On 2015-10-27 06:36, Mark Nottingham wrote:

maybe i am not following this completely. there will be text and then
HTML generated from that? frankly, i would not care so much about which
representation the registry page has, as long as:

- there are working fragment identifiers into this page that effectively
give all registry entries stable URI references (the
registryURI#registryValue URI refere

[2015-10-27 12:57] asbjornu commented on #145
Yes. Something like this:

1. Registered strings **must not** be prefixed in environments where they are recognized (such as `text/html`, `Link` headers and `application/atom+xml`)
2. Registered strings **should** be prefixed in environments where they are not recognized (such as RDFa, JSON-LD, etc.)

The list should probably be longer, but it's a start.

[2015-10-27 15:25] jasnell commented on #140
@mnot ... +1 to this change. I don't believe @dret's additional constraints are necessary (not that there's anything particularly wrong with them).

[2015-10-27 15:42] asbjornu commented on #140
I'd also say :+1:, but with one exception: Drop the trailing `/`, so we end up with:

[code]

It is more in line with how such fragment URIs tend to look, and there's nothing to gain by having the trailing slash, is there?

[2015-10-27 15:49] gkellogg commented on #140
Given that relations are all defined in a single resource, I agree that `http://www.iana.org/assignments/relation#` makes the most sense. Using '/#' would just seem indecisive.

[2015-10-28 05:09] annevk commented on #143
No, sorry. Just that it would be good to have this defined.

[2015-10-28 17:25] jasnell commented on #143
Definitely would be great to have the multiple instances of [rel, target attributes] dealt with. For [LINK/UNLINK](https://tools.ietf.org/html/draft-snell-link-method-12) these would be handled as entirely separate, independent Links so it would be good to have this clearly defined.

[2015-10-29 06:07] mnot commented on #144
See above. Re: discussion and history, that'll be a separate thing.

[2015-10-29 06:07] #144 closed

[2015-10-29 06:40] mnot commented on #140
@asbjornu @gkellogg I agree that relation# makes more sense than relation/ but RFC4287 *did* specify the latter, and this issue is about stability :)

If there's really broad consensus to change it, I'm OK with that, but I wonder if we can determine that here.

Also, is it really that important that they resolve to something relevant/non-404, or is that just Nice to Have?

[2015-10-29 07:34] dret commented on #140
On 2015-10-29 07:40, Mark Nottingham wrote:

it's nice to have. the essential thing is that the registered values are
identifiers, so the constructed URIs are a nicety. but it would be
really convenient if somebody asked "what is this registered value all
about?", if such a URI could be used to answer that question succinctly
by pointing to the registry entry. and it really isn't a hard thing to
m

[2015-10-29 07:53] mnot commented on #140
If we were working from a clean slate, that would be easy. We're not.

[2015-10-29 08:03] asbjornu commented on #140
@mnot Yes, [RFC 4287](https://tools.ietf.org/html/rfc4287) specify the use of `/` as the separator instead of `#`:

A resulting string after processing would thus be `http://www.iana.org/assignments/relation/first`. In order to be backward compatible with that scheme, we can't introduce `#`. I wish we had the foresight to specify `#` back in the early 2000's when we were dabbling with this, but th

[2015-10-29 08:08] mnot commented on #140
@asbjornu sounds reasonable, although some people will undoubtedly copy the resulting `#` URL and use it to identify :(

The other thing we could do is auto-generate a file for each relation. I'm not thrilled with that, though.

[2015-10-29 08:31] asbjornu commented on #140
@mnot Auto-generating files would then make `http://www.iana.org/assignments/relation/first` return `200 OK` instead of `302 Found`? If so, that's indeed a solution that would be both backwards and forwards compatible. Why aren't you thrilled with that solution?

[2015-10-29 11:33] melvincarvalho commented on #140
Some thoughts

- http://www.iana.org/assignments/relation/# is absolutely fine.  That's how I do my identity ( http://melvincarvalho/#me ).  If it's already in an RFC probably makes some sense to stick to it.

- That the resource dereferences is less important than that a normative resource exists.  This is something that will be very useful in implementations today.  Currently my clients store HT

[2015-10-29 14:01] asbjornu commented on #140
@melvincarvalho:

* It's not `http://www.iana.org/assignments/relation/#` that is in an RFC, it's `http://www.iana.org/assignments/relation/` without the `#` that's in [RFC 4287](https://tools.ietf.org/html/rfc4287#section-7.1). So introducing `#` would be a breaking change regardless of the trailing slash.
* Being able to dereference the URI is important from an extensibility and usability point

[2015-10-30 01:41] mnot commented on #140
@asbjornu: It complicates the interaction with IANA considerably, and we can't reasonably expect them to do it on their own.

[2015-10-30 13:14] elf-pavlik commented on #140
Maybe HTTP 303 as FOAF does it?

[code]

I think that people who don't pay attention to use of appropriate URL will use technologies which allow simple use of registered strings.

Also http://www.iana.org/assignments/relation/first could do HTTP 303 redirect to #144 and machines would find all the information there without need for # fragments, while people could just search the page for relation

[2015-10-30 13:54] dschulten commented on #140
I want to support Elf's point. In the RDF world it is apparently quite customary to have redirects for canonical URIs, for instance

`http://purl.org/dc/terms/accessRights`
redirects to
`http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms#abstract`

and nobody seems to have any problem with that in RDF land. It certainly helps that the redirection points to a URI that really does not lo

[2015-10-30 15:13] melvincarvalho commented on #140
I'd really avoid this FOAF and DCT (anti?) pattern.  It's a pain to deal with redirects.  And I believe, to this day both those vocabs have problems with CORS.  We've been trying for years to fix that, and it's technically a challenge, even for experienced coders such as @danbri.  There's no reason to split up a document into mini files in that way, and is a maintenance burden.  I spent a long tim

[2015-10-30 15:46] danbri commented on #140
FOAF is not broken into "files". Screwing around with Apache configurations is a giant PITA.

The reason we went with / rather than # was that at the time (15 years ago) it was far from clear that using #blah on a content negotiable URI was sensible. Plus it didn't work for bigger things like Wordnet without forcing you to make a single giant download.

[2015-10-30 18:00] dschulten commented on #140
@melvincarvalho:

Am 30.10.2015 16:13 schrieb Melvin Carvalho <notifications@github.com>:

Maybe I misunderstand you completely, but what do you propose, then? Having a clean URL prefix http://www.iana.org/assignments/relation#  that both is a breaking change wrt to Atom and doesn't dereference? If it doesn't dereference, why is CORS an issue at all?

Am 30.10.2015 16:13 schrieb Melvin Carvalho <n

[2015-10-31 04:52] elf-pavlik commented on #140
from http://tools.ietf.org/search/rfc4287#section-4.2.7.2

   relation type equivalent to the same name registered within the IANA
   Registry of Link Relations (Section 7), and thus to the IRI that
   would be obtained by appending the value of the rel attribute to the
   string "http://www.iana.org/assignments/relation/"

IMO HTTP 303 redirects for all URIs starting with mentioned prefix already

[2015-10-31 05:52] gkellogg commented on #140
It looks like http://www.iana.org/assignments/link-relations/ was used in error when the vocabulary was moved. The issue is created for people who this may affect have a chance to speak up. However, as it's used as a convenience, it would only be likely to be a problem when interacting with systems that used the previous value stored in a triple store.

[2015-10-31 08:35] dschulten commented on #140
Would IANA be willing to reorganize today's redirects and return 200 OK for `http://www.iana.org/assignments/relation`?

We have:
1. `http://www.iana.org/assignments/relation/*` redirects to `http://www.iana.org/assignments/link-relations`
2. `http://www.iana.org/assignments/link-relations/*` redirects to `http://www.iana.org/assignments/link-relations/link-relations.xhtml`
3. `http://www.iana.org

[2015-10-31 08:35] dschulten commented on #140
@asbjornu Do I read you correctly that although you said

your final conclusion was that you still want "relation#" to be the new canonical URL prefix?
In that case I think @mnot's concern that people would wrongly copy the resulting # URL was a misunderstanding, because people would be right doing so.

[2015-10-31 13:01] melvincarvalho commented on #140
@dschulten I'm not making a proposal.  I'm merely pointing out that this would be a valuable thing to standardize.  Obviously if an HTTP URI is dereferenable that's much better than if it doesnt.  I'm also pointing out from implementation experience 303s are a huge challenge to deal with both from the client and server perspective, especially if you want it to be CORS enabled.

[2015-10-31 15:05] gkellogg commented on #140
How about returning 200 for http://www.iana.org/assignments/relation/<whatever> with the content of http://www.iana.org/assignments/relation/ containing the RDFS definitions, and also the Location header of http://www.iana.org/assignments/relation/. That seems to be an accepted pattern now and avoids redirection.

[2015-10-31 15:37] elf-pavlik commented on #140
To my understanding URIs for each relation e.g. http://www.iana.org/assignments/relation/alternate would sill need to redirect to that page which describes all of them. Assuming that prefix recommended by rfc4287 will not change to one with #

[2015-10-31 17:07] dschulten commented on #140
@elf-pavlik it already redirects, and even twice via /link-relations ☺

[2015-11-02 13:30] asbjornu opened #150 "More repositories, please"
Sorry about this, but I just want to raise this to make it a bit easier to collaborate on the pretty large amounts of RFC's you've contributed to, @mnot. Since there are a lot of RFC's and increasing interest in them, there's now quite a bit of activity in issues, discussions and pull requests that are mostly completely unrelated.

Even though it involves a bit of work, I think it would be wise to

[2015-11-03 09:40] dret commented on #150
i am interested to see what @mnot thinks about this...

[2015-11-03 10:57] stain commented on #140
So if we already have the redirections in place, and the RFC already says they end with `/` which is trickier to change now, then something like my XSLT to include such RDFa statement should be the main thing that is needed.

You are not required to follow the HTTP links (unless you want to) as:

1) The RFC can define the namespace
2) The RDF version of the registry page will include all the state

[2015-11-03 12:28] mnot commented on #150
I think that I'm not a standards body, and people shouldn't give too much weight to what I do here; these are all proto-specs. Administratively, it's MUCH easier for me to have these all in one repo.

That said, if 5988bis (or any other spec) is adopted somewhere, I'll be happy to split it off (assuming the work stays in my repo and doesn't move elsewhere anyway).

[2015-11-03 12:28] #150 closed

[2015-11-03 12:33] mnot commented on #147
Seems like way too late to do this, given that other folks are depending on this doc.

[2015-11-03 12:36] asbjornu commented on #150
You're too humble! ;-)

I understand. Okay, then. Moving on. :-)

[2015-11-03 12:41] asbjornu commented on #147
@mnot, Is it illegal for an RFC to use a different naming scheme than those defined in RFC 2648 and 7669? Even though RFC 4287 came after 2648, it uses a resolvable HTTP URL (hosted by W3C), and not `urn:ietf:rfc:4287`.

I understand that it's too late to do anything about RFC 7669, but since JSON Problem is not a published RFC yet, it's not too late to change its namespace URI, is it? If it can b

[2015-11-03 12:54] mnot commented on #147
*sigh* If this had come up a few months ago, sure, but there's already WG consensus and it's going to the IESG. You can bring this up in IETF Last Call, but I'd argue that the slight benefits of a HTTP URL are easily outweighed by breaking the people already using it.

[2015-11-03 13:22] dret commented on #147
+1, i just wanted to bring up the point that the RFC 2648 naming scheme seems to be replaced by RFC 7669, but since it's not quite clear how, and since the namespace URI has been around for quite a while, it may be best to just keep it. closing the issue.

[2015-11-03 13:22] #147 closed

[2015-11-03 13:54] asbjornu commented on #147
@mnot, @dret: Okay. Can anything be done about this for future RFC's, then? Or will RFC 7669 mandate that any namespace URI being minted for any RFC "forever" *must not* be a resolvable URL? I find it peculiar that IETF has moved in this direction and in 2015 specifies a new namespace scheme that is still not based on resolvable HTTP URLs. It creates a lot of dead-ends that are incompatible with l

[2015-11-04 14:25] asbjornu commented on #140
@stain Isn't it a problem that `http://www.iana.org/assignments/relation/alternate` redirects to ?`http://www.iana.org/assignments/link-relations/link-relations.xhtml` without a fragment identifier? Or will sprinkling RDFa on that HTML page suffice?

I think we need to define (in RFC 2119 parlance) separate requirements for three different types of applications. Let's name them *RDF Applications*,

[2015-11-05 04:38] mnot opened #151 "IANA interaction"
I talked with Michelle Cotton from IANA at IETF94.

One issue that came up was integration with their workflow; they often update registry contents (e.g., when a document's status changes, such as when an RFC goes from `draft` to `published`).

We need to figure out a way to minimise extra work and avoid errors; this might mean keeping the "source of truth" at IANA, or splitting the sources into R

[2015-11-05 17:58] dret commented on #140
it's a bit ironic that in the text above all applications (except one) are described as "legacy applications", whereas the only one that happens to have home-made problems with non-URI identifiers is becoming the one true way forward.
what i think would be a bad idea is to create the impression that URIs are valid identifiers. the registry contains strings, and these are valid identifiers. creatin

[2015-11-05 18:08] dret opened #152 "Remove/Deprecate "Link Relation Application Data Registry""
http://tools.ietf.org/html/rfc5988#section-6.3 defines a "Link Relation Application Data Registry", which never caught on. http://www.iana.org/assignments/link-relations/link-relations.xhtml#link-relations-2 has zero entries, and a successor of RFC 5988 probably should take note and either get rid of the registry altogether (if that's even possible), or mention that this one never saw adoption (an

[2015-11-05 18:27] danbri commented on #140
This use of "Legacy" looks disrespectful of mainstream approaches (who have respectable reasons for their choices); I strongly recommend against that terminology.

[2015-11-06 07:22] mnot commented on #152
Dup of #37.

[2015-11-06 07:22] #152 closed

[2015-11-06 07:54] dret commented on #152
searched the issues beforehand but did not find #37, and yes, this here is a duplicate.

[2015-11-06 13:10] asbjornu commented on #140
@danbri The use of the word **Legacy** was not intended to be disrespectful. The above text is also in no way intended to be used in an application. "Legacy" was just a label I had to invent in order to try to organize my thoughts on how we can classify the different applications of link relations.

Is **Traditional** a better word? I'm open to ideas and am in no way attached to the names I've pic

[2015-11-06 13:14] danbri commented on #140
Maybe 'classic' or 'mainstream'? Perhaps I'm over-sensitive on this point but having seen 15 years of semweb advocacy try to describe all prior efforts as 'legacy', and having seen the reactions (offense, laughter, ...) I do suggest anything but 'legacy' would be an improvement. Traditional implies they are old-fashioned; 'classic' does too but seems slightly softer. Mainstream is vague but straig

[2015-11-06 14:07] asbjornu commented on #140
@danbri I like "Classic". I've updated my proposal. I don't want to be mistaken for a semweb advocate, though, since I've just started trying to understand what it is through my involvement in [Hydra](http://www.hydra-cg.com/), which is based on [JSON-LD](http://json-ld.org/), which (quite invisibly, imho) is powerd by RDF. :wink:

[2015-11-06 16:09] dret commented on #140
On 2015-11-06 14:10, Asbjørn Ulsberg wrote:

you don't need an RFC. registration is via the mailing list, and all you
need is some document saying what your link relation represents (and i
think that's a fair ask), and then you can send a request to the list.
many/most choose to write short RFCs, but that's probably just because
they are a nice way to get some feedback and consensus.

have a close

[2015-11-09 07:47] asbjornu commented on #140
Say you want to publish a simple JSON API for your local library. You do it mostly free of charge and good will. Given this or similar situations, I'd say that just being able to figure the registration procedure out is a major task, let alone complete it. Although joining a mailing list and sending an e-mail is simple enough, it's the whole process, starting from pretty user unfriendly plain text

[2015-11-13 09:44] neothemachine commented on #140
Is it accepted that rel="type" becomes "http://www.iana.org/assignments/relation/type" and not "rdf:type"? Or would the relation between those two be expressed separately, e.g. with rdfs:subPropertyOf? I guess there are other such examples as well.

[2015-11-13 09:53] elf-pavlik commented on #140
@neothemachine I really think that W3C should deal with such questions and IANA only take the responsibility for providing official URIs for all registered link relations. I really worry that by trying to address to much in this issue we may only delay its resolution within the original scope.

[2015-11-26 00:49] #40 closed

[2015-11-27 05:35] mnot opened #155 "Invariants"
http://www.internetsociety.org/internet-invariants-what-really-matters

[2015-12-01 09:59] reschke opened #161 "incomplete media type registration templates"
Minor nit: the media type registration templates miss a few fields defined in <https://tools.ietf.org/html/rfc6838#section-5.6>.

[2015-12-01 20:25] mnot commented on #161
Fixed in 4ec8142

[2015-12-01 20:25] #161 closed

[2015-12-02 06:22] mnot opened #163 "Expert decisions"
Assuming that the experts remain, how they interact with IANA needs to be clarified to indicate whether there needs to be consensus among the experts, or whether first answer is sufficient.

[2016-01-13 22:17] dret commented on #163
given the history of expert feedback, at least having some time-out might be advisable. it seemed often that the biggest bottleneck of the registration isn't the process itself, but the sometimes long delays to get through it.

[2016-02-05 16:53] timbl commented on #144
"I think it's reasonable to assume that IANA will product exactly one non-HTML format, and that will be XML; this is what they do for other registries, and we shouldn't expect a unicorn."
IANA took a look time to move to HTML and is still clearly suspicious of it.   We still have an obligation to lead them into more powerful formats, as in text > HTML and XML > turtle.
Plus, when this stuff is use

[2016-02-05 17:15] dret commented on #144
On 2016-02-05 08:53, Tim Berners-Lee wrote:

the thing is that rather few registries have namespaces that are or even
could be URIs. and like @mnot mentioned, we shouldn't expect a unicorn.

many registries have namespaces that cannot be URIs even if you wanted
because their context requires them to be 16bit numbers or something
similarly constrained.

i am working on a draft looking at the use of

[2016-02-06 01:32] mnot commented on #144
From my chats with IANA staff, I think they'd consider hosting other formats, providing they were clearly specified and either produced for them, or reasonable for them to produce (e.g., with an XSLT transform).

Would need to confirm this, of course, but if we had a proposal we could take it to them. One of the questions they'll ask is how much traffic we'd expect such things to get.

[2016-02-06 04:22] dret commented on #144
On 2016-02-05 17:32, Mark Nottingham wrote:

https://tools.ietf.org/html/draft-wilde-registries-01#section-5.6 tries
to address this issue. if the model is that any implementation can and
will get registry contents at runtime, then this can be very hard to
scale up. currently, the pattern is that *developers* look at the
registry, not their code at runtime. that's a very different thing.

[2016-02-19 02:00] elf-pavlik commented on #144
maybe schema.org crew has some experience here to share? in mailing list conversation below @danbri @mfhepp @gkellogg and others discuss this issue, even referencing post about W3C’s Excessive DTD Traffic

* https://lists.w3.org/Archives/Public/public-vocabs/2014Jan/0035.html
* https://www.w3.org/blog/systeam/2008/02/08/w3c_s_excessive_dtd_traffic/

[2016-02-19 08:12] asbjornu commented on #144
@elf-pavlik Your comment seems related to dret/I-D#21 and not so much this discussion. :) But yea, [schema.org](http://schema.org/) should have plenty of experience to share.

[2016-02-19 13:14] danbri commented on #144
I would like to investigate the load on schema.org, however I didn't yet figure out whether Google AppEngine's generic logging can easily tell us about homepage requests that ask for application/ld+json. Expert advice on that would be welcomed; if nobody here happens to know I can ask around within Google of course, or even(!) revisit the documentation. Presumably there are probably also custom lo

[2016-02-19 14:13] dret commented on #144
On 2016-02-19 14:14, Dan Brickley wrote:

it definitely would be great to hear more about what is happening and
how much load it is.

in this case it hit a company that has among the world's best people and
computing/network resources to handle this. it all depends on how a
spec, its vocabulary, and the registry are supposed to be used. i still
think that in most cases, the general model is that r

[2016-02-19 14:47] gkellogg commented on #144
We discussed this some time ago. I believe the best practice for an implementation is to cache retrieved contexts and reuse between successive requests. Ideally, the context is served with reasonable cache control directives. The Ruby JSON-LD processor does runtime caching of retrieved contexts.

[2016-02-22 11:23] dret commented on #41
thinking about the relation of the proposed `home` to https://tools.ietf.org/html/draft-wilde-service-link-rel a bit more, it seems to me it's fairly simple: `home` links to the actual home resource of the service from where the assumption is application flows start initially; the relations proposed by https://tools.ietf.org/html/draft-wilde-service-link-rel link to where these flows are documente

[2016-02-29 18:56] kidehen commented on #61
@mnot -- any errata or update to <https://github.com/mnot/I-D/labels/rfc5988bis#this>  in regards to this matter? Ideally, I don't want to be using custom headers if Link: offers me the ability to identify relations scoped to an HTTP request.

[2016-03-02 05:55] mnot commented on #61
This is too big a change to be an errata. This repo is working on an update, but it's not official, and won't be for some time, I reckon. Even if I pull my finger out and push a revision, it'll take a while to wind through IETF process.

[2016-03-02 19:59] kidehen commented on #61
@mnot :  So I am to assume right not that the powerful Link: header is to be reduced to confines of its context being scoped to what's identified by the request IRI? That's quite a bug to leave lingering for so long. As you know, Link: is a powerful mechanism for reducing custom HTTP header explosion.

[2016-03-13 00:37] elf-pavlik commented on #140
@mnot can we already consider **http://www.iana.org/assignments/relation/** as official (to be) prefix?
BTW http://prefix.cc/ianarel

[2016-03-13 06:21] melvincarvalho commented on #140
Id much rather see:  http://www.iana.org/assignments/relation#

May involve tweaking a couple of specs.

Experience from hosting vocabularies such as foaf is that using slash uris are much harder to get working with things like cors,https,redirects than a single resource using hash uris.

[2016-03-13 06:28] melvincarvalho commented on #140
@elf-pavlik please dont squat name spaces before consensus is arrived at (ie the issue is closed)

[2016-03-13 23:33] mnot commented on #140
`http://www.iana.org/assignments/relation/` was defined by Atom, which was the precursor to RFC5988, so it's the established base URI. In that sense, it's as official as we've got.

Using anything else is going to be difficult, not just a "tweaking a couple of specs." It would be _possible_ to say that that prefix is just for the Atom serialisation, but doing so seems very likely to leave the worl

[2016-03-14 11:00] dret commented on #140
i'd argue that what @mnot says about making the world a worse plays also applies to re-introducing the deprecated `http://www.iana.org/assignments/relation/` prefix. it would effectively introduce non-unique identifiers (assuming the raw strings remain valid). every implementation would have to be coded to treat the prefixed and the raw form as identical, and that's very unlikely to happen in a re

[2016-03-14 18:53] elf-pavlik commented on #140
if someone doesn't care about interoperability i think we all need to simply accept it and don't expect to interoperate with systems developed by those people.
i would really like to focus on how to agree with people who do care about interoperability and do best with making it possible for them to do what they/we care about and develop interoperable systems

[2016-03-14 20:10] dret commented on #140
On 2016-03-14 18:53, elf Pavlik wrote:

it's not that they didn't care. it's just that the rules were bad and
made it easy do not do the right thing. non-unique identifiers are a bad
idea. that this idea breaks things has been proven to happen. seeing if
it happens again may not be the best way forward.

sure, i think we all agree on the end goal. but you can design
interoperability in many ways,

[2016-03-14 21:29] elf-pavlik commented on #140
https://github.com/mnot/I-D/blob/gh-pages/rfc5988bis/draft.md#extension-relation-types

Maybe in a similar way serialisation of links can specify weather to use URIs for registered relations or not? Conversion to official register identifiers in that case happens by simply removing the prefix we discuss here.

[2016-03-14 23:01] mnot commented on #140
@elf-pavlik I don't think you'd be able to convince folks that HTML, HTTP headers or Atom should effectively change their API to do this. However, another serialisation (such as RDF) certainly could.

Another option would be for an _application_ of linking to specify how this should be done for it, independent of the serialisation. See #142.

[2016-03-16 09:57] asbjornu opened #170 "Duplicate links"
I can't find the word "duplicate" or any variation thereof in RFC 5899 explaining how to handle duplicate links and what should be considered duplicate links. If two links have the same `rel` value, but different target URIs, should both be considered "valid" and if so, how should a client find the correct one between the two?

If the two links have `type`, `title` or other parameters that disting

[2016-03-16 10:35] dret commented on #140
On 2016-03-14 21:29, elf Pavlik wrote:

if a serialization defines a mapping from a value adhering to the value
space defined by the spec to some serialization-specific representation
of that value, then that's something that cannot even be controlled by
the spec defining the value space.

i'd still think that there's a risk for the serialization-specific
representations to leak out into the world

[2016-03-16 23:58] mnot commented on #170
In Section 3 of 5988:

The current draft makes a slight change to this (relevant part **bolded**):

[2016-03-17 09:03] asbjornu commented on #170
As an implementor, I'm still confused on how to treat duplicate links, parameters, etc. Is this specified in another RFC and if so, shouldn't RFC 5899 reference it? When parsing the following link, what should I do?

[code]

What's the link relation here, `up` or `first`? And how about the following:

[code]

Which link should be considered to be authoritative for the "up" relation? Should the RFC

[2016-03-18 09:43] asbjornu commented on #170
@mnot After reading the RFC a bit more closely, I've now found a few sections making it clearer what to do with duplicate parameters:

Section 5.3 states:

Section 5.4 states:

Section 5.4 states:

I think the last section here relating to `type` could be made clearer as the others on what to do. For consistency, I suggest that the section be changed to:

So now I'm only wondering about what to do

[2016-03-18 10:36] asbjornu commented on #170
What should be done with parameters not defined in RFC 5899? Are they at all allowed and if they are, what should be done with duplicates?

[2016-03-19 04:54] mnot commented on #170
Do you mean a link that has the same target, context, relation type and attributes?

I think it's *probably* safe to fold those into one, unless the application is something like "counting links" -- after all, an HTML page can (and often does) have duplicate links.

From an abstract library standpoint, it's probably safer to leave them separate.

WRT parameters -- assuming you're talking about tar

[2016-03-21 10:41] asbjornu commented on #170
Yep.

True, but an HTML page also has a lot of more context than an HTTP `Link` header, especially if you're talking about the `a` element.

Should the RFC state anything in this regard, so libraries have the same behavior? Personally, I find it a bit silly to keep all of the following links separate:

[code]

Semantically, they're all **exactly** the same, according to the RFC, unless I've misund

[2016-03-21 10:42] asbjornu commented on #143
As I mention in #170, some guidance on this in the RFC would be excellent. Also, a full test suite (referenced from the RFC) would be **awesome**.

[2016-03-22 09:15] dret commented on #140
just throwing it into the mix, because it exists: https://tools.ietf.org/html/rfc3553 defines URIs for any "Registered Protocol Parameters". it could be used as a foundation to turn non-URI parameters into URIs, by simply using the URNs themselves as values. using RFC 3553, link relation values would then look something like `urn:ietf:params:link-relations:alternate`. of course, adopting this sche

[2016-03-22 09:56] melvincarvalho commented on #140
@dret thanks for point out that urn: spec.  That hierarchical URN does make sense, and would be an improvement on what we have today, for many systems.  It's the logical URN to use, I think.

Couple of observations, one that is it quite long, and shorter URIs tend to correlate well with adoption.  Ive personally always wondered why the URI spec does not allow simple variable definitions such as `u

[2016-03-22 14:23] asbjornu commented on #140
I feel that choosing URNs instead of (dereferencable) HTTP URIs to avoid load on the URIs is premature optimisation.

I don't really see the value of this when we can just use an HTTP URI in the first place. It is worth mentioning that the load on W3C's HTML DTD is, as far as I know, not longer a problem. And the infrastructure (CDN's, etc.) to handle this in a scalable way is better today than it

[2016-03-22 20:13] dret commented on #140
On 2016-03-22 10:56, Melvin Carvalho wrote:

that's actually a problem of the spec for the URN URI scheme (not of the
URI spec itself). since a URN is just one kind of URI, they kind of had
to start their syntax with an "authority" component, hence that second
step: http://tools.ietf.org/html/rfc2141

i don't think the resulting URIs are overly long. all steps kind of make
sense, and the URIs are

[2016-03-24 09:39] dret commented on #140
after digging around a lot more, i have now learned that RFC 3553 also allows namespaces to be defined and registered (http://www.iana.org/assignments/params/params.xhtml#urn-subnamespaces lists the currently registered ones). this has to be done when a registry is created (or possibly updated). this means that following RFC 3553 procedure, it would be possible to use the IETF URN namespace to ide

[2016-03-24 13:49] elf-pavlik commented on #140
Great findings @dret

I see some cases where using HTTP URIs and allowing dereferencing them offers advantages. For example:

* A *describedby* B
* B *describes* A

https://tools.ietf.org/html/rfc6892

If C wants to make such statement, often choice between using 'describedby' or 'describes' becomes arbitrary. Also when someone gets this information from C, will need to always check for both cases

[2016-03-24 20:14] dret commented on #36
it's kind of hard to say how many are used, right? one way to look at "link parameters" or "link hints" is to look at them as "unary links" that are associated with the target resource, i.e. they make a statement about the target resource and not one about the source. looking at it this way, they are "just links", and it would be useful to treat them similar to regular web links, i.e. to allow val

[2016-03-29 12:28] asbjornu commented on #36
Considering how this steps into the realm of API documentation formats such as [Hydra](http://www.hydra-cg.com/), I'm not sure. If, by "registry", you mean "IANA registry", I actually see harm in defining a registry that will duplicate some of the efforts and semantics of [schema.org](http://schema.org/) and other vocabularies used in technologies built with, for example, RDF (such as the already

[2016-03-29 12:56] dret commented on #36
On 2016-03-29 14:28, Asbjørn Ulsberg wrote:

if there are existing registries for standardized "link hints", then it
would be good to link to them from this issue so that we can find out
what's in there. i am not aware of any such registry, but if there were
one, then this certainly should be taken into account for any future
work on link hints.

one possible scenario we just discussed with @hvdso

[2016-03-30 07:01] asbjornu commented on #36
@dret, I wouldn't say the registries (or ontologies) are "link hints" per se, but there's definitely some overlap between link hints and a full-fledged API documentation format such as Hydra.

I think the idea of pointing to a `schema` resource is a good one. What does @lanthaler, @elf-pavlik, @tpluscode, @RubenVerborgh and others involved with @HydraCG think of this?

[2016-03-30 07:54] dret commented on #36
On 2016-03-30 09:01, Asbjørn Ulsberg wrote:

that's what i wanted to say: in some of these models, "link hints" may
be used that would also be useful outside of that particular context.
having "links hints" as something external (just like link relations)
would help with that.

my main concern is how to differentiate link hints from links. in
essence, a link hint for a link from a to b is nothing

[2016-03-31 05:37] asbjornu commented on #36
Let's see if we can classify the different link types. I see the `Link` header as having two separate purposes:

1. Reference an external resource (loosely) related to the current resource. The related resource is usually an entirely self-contained entity in and of itself and may often have links back to the resource that referenced it.
2. Reference an external resource *describing* the current re

[2016-04-10 14:56] darshakthakore opened #171 "link attribute registry"
The use of web-linking has expanded a lot since RFC5988, specifically its usage in CoRE and other IoT ecosystems. For example, [RFC 6690](http://tools.ietf.org/html/rfc6690) adds new attributes ('rt', 'if', 'sz'), [RFC 7641](http://tools.ietf.org/html/rfc7641) adds the 'obs' attribute and various other drafts are adding additional attributes. Seems like a link attribute registry would be useful fo

[2016-04-10 14:58] darshakthakore commented on #171
this issue should be labeled rfc5988bis

[2016-04-11 08:02] RubenVerborgh commented on #76
This is definitely important; was the first thing I noticed.

[2016-04-11 08:08] RubenVerborgh opened #172 "[json-home] content-type with "+ convention""
I would have expected `application/home+json` in line with the "+ convention".

[2016-04-11 08:09] RubenVerborgh opened #173 ""param" instead of "var""
In related specifications, in particular RFC6570, the term "parameter" (`param`) is used for components of a URI.

[2016-04-11 11:22] asbjornu commented on #172
That would also be more in line with [RFC 7807](https://tools.ietf.org/html/rfc7807)'s `application/problem+json`.

[2016-04-14 11:59] dret opened #174 "Relation to Webapp Manifest"
for the home documents spec, it would be interesting to at least discuss its relation to webapp manifests as specified over at https://github.com/w3c/manifest. there is an extension point in that spec that would allow new properties to be added in a graceful way. if that spec would establish a registry of some kind, these properties could even be established by a different spec and made well-known

[2016-04-14 12:35] dret commented on #174
created https://github.com/w3c/manifest/issues/452 as an issue for the webapp manifest draft.

[2016-04-15 15:11] hvdsomp opened #175 ""profile" link hint"
I would like to propose adding a Link Hint to express the profile of the linked resource, that is, to express the same info on a link to a resource that would be expressed at that resource itself by means of a "profile" link. I assume that would mean adding a "profile" attribute for Link Hints.

[2016-04-26 06:58] mnot commented on #163
Talking to Michelle C, this seems like something that the experts and ICANN can work out in the background, no need to specify it up-front.

[2016-04-26 06:58] #163 closed

[2016-04-26 07:10] mnot commented on #140
OK, re-reading this thread. We originally re-opened it to talk about putting stronger constraints around the use of the Atom base URL, so I've done that; see above.

Does anyone want to argue that there needs to be a base URL (whether it's HTTP, URN, or whatever) that is constant across applications that opt into it -- i.e., that this specification should define a default that applications can opt

[2016-04-26 07:26] mnot commented on #33
@reschke ping?

[2016-04-26 07:27] mnot commented on #171
Dup of #36, I think.

[2016-04-26 07:27] #171 closed

[2016-04-26 07:35] #61 closed

[2016-04-26 07:36] mnot commented on #142
Still TODO (possibly): "Defining New [Applications | Serialisations]"

[2016-04-26 07:58] mnot commented on #134
Sounds reasonable. I'm not spending much time on this spec right now, as it's not clear to me that it's the right way forward, and also I need some implementer interest :)

[2016-04-26 12:56] dret commented on #140
isn't that making things even less predictable, because now applications have the green light to add any prefix, and there's no clear definition when that would be ok and when not? i think the reason why this was creating interop problems was that it was weakly worded. however, it is introducing alias values for identifiers, so in order to me robust it must be strongly worded (in which case implem

[2016-04-27 01:00] mnot commented on #140
I don't think that's a green light, it's a warning that if you create your own name space for registered relation types, other applications won't necessarily understand them, so you do it at your own risk.

Happy to make changes to clarify that.

[2016-04-27 01:49] dret commented on #140
On 2016-04-26 18:00, Mark Nottingham wrote:

but why put that in there at all? if there's exactly one correct way to
refer to a registered value (which i would strongly suggest there should
be), then that's all that needs to be said. i think there's no need to
point out that if you're using an incorrect value by using some
proprietary mapping such as using a prefix, that you shouldn't expect it
to

[2016-04-27 04:22] mnot commented on #140
How about something like:

[2016-04-27 04:44] dret commented on #140
what are "serialisations that explicitly accommodate them"? values will
very easily disseminate through perceived format boundaries. for
example, if you have JSON-LD, then you would like to see the registered
values to be used in the actual JSON. but people using RDF tooling may
end up creating URIs, because from their perspective, they have been
using RDF so using URIs was kind of ok. and their J

[2016-04-27 07:37] danbri commented on #140
/cc @chaals

[2016-04-27 09:16] stain commented on #140
I think it should only be NOT RECOMMENDED if you can use the short form - e.g. in the Link header - while we do mandate the base URI where a full IRI is required by the application.

Something like:

[2016-04-27 09:17] stain commented on #140
In other words - 2 specified identifier schemes is better than `n` identifier schemes.

[2016-04-27 13:36] asbjornu commented on #140
@stain With some langauge identifying the `describes` relation as the one defined in RFC 6892, I think your wording provides enough guidance and clarification. :+1:

[2016-04-27 14:48] dret commented on #140
+1

but 2 representations of one value is still worse than 1.

[2016-04-27 17:43] dret commented on #140
i think my main concern with all of these attempts to (a) make sure
registered values are used, but (b) also half-heartedly bless the use of
URIfied aliases is this:

one of the main tenets of web architecture is that i shouldn't have to
care about how some service is implemented behind the REST surface.
allowing the implementation to shine through (oh, somebody used RDF for
implementation, so all

[2016-04-27 22:02] elf-pavlik commented on #140
from https://tools.ietf.org/html/rfc3987

I think that RFC 3987 and prefix introduced in Atom spec, prove need for identifying registered parameters with URIs. Of course we can argue about advantages of `urn:` scheme vs. advantages of `http:` scheme. Still if something can have one and only one identifier, URI seems like a obvious choice. URIs also have clear rules for compacting them https://www.

[2016-04-28 01:00] dret commented on #140
On 2016-04-27 15:02, elf Pavlik wrote:

that's an odd way of looking at where we are. RFC 4287 opened it, maybe,
but RFC 5988 closed it (being specific about the fact that URIs are
legacy and maybe are used in atom, but shouldn't). so what we're having
today is a world with a lot deployed applications that use the
registered values, and depend on them being used. that's simply the
reality we have

[2016-04-28 08:38] asbjornu commented on #140
@dret What seems to be missing from your equation is the use-case of distributed creation of link relations, which was the reasoning behind section 4.2.7.2 of RFC 4287, IIRC. I also don't read RFC 5988 the same way as you, which I believe is one of the reasons this issue exists in the first place.

I think the internet community still needs a way to mint proprietary link relations without the over

[2016-04-28 15:08] dret commented on #140
On 2016-04-28 01:38, Asbjørn Ulsberg wrote:

for distributed creation, there are extension relation types, which seem
to work just fine in practice, afaict.

https://tools.ietf.org/html/rfc5988#section-4.2

that's a very different discussion, on whether a registry is the right
pattern to use for keeping track of link relation identifiers. to me the
"overhead issue" is a problem of perception, but

[2016-04-28 15:45] elf-pavlik commented on #140
I understood that as of last iteration, depending on *application* spec marks identifying link relations with URIs as **NOT RECOMMENDED** but allowed. Which I see enough so that people who have reason to use NOT RECOMMENDED option can still do so.

Now for example, after parsing HTTP Link header, RDF applications can simply store all the links as triples, of course during serializing triples for u

[2016-04-29 01:13] mnot commented on #140
E.g., as Atom does, or as RDF probably would.

example, if you have JSON-LD, then you would like to see the registered
values to be used in the actual JSON. but people using RDF tooling may
end up creating URIs, because from their perspective, they have been
using RDF so using URIs was kind of ok. and their JSON-LD toolbox may
not even have support for value mapping when serialising  RDF to JSON-L

[2016-04-29 01:23] mnot commented on #140
WRT 2 specified vs n -- The problem is that Atom already specifies one extra way to serialise registered relation types, and many have expressed dissatisfaction with that base URI (because it's controlled by IANA, because what's at the URL isn't what is desired, because it isn't a # URI, etc.).

Therefore, I highly suspect we're going to have at least three. Baking the third into this spec raises

[2016-04-30 01:13] dret commented on #140
On 2016-04-28 18:13, Mark Nottingham wrote:

i agree. but isn't that saying that if you claim to use/expose link
relation types as spec'ed and registered, you MUST use the identifiers
in their single correct representation? and if so, then why even say
that in some contexts, people may do things differently?

i understand the RFC 5988 language to acknowledge the RFC 4287 legacy,
but by now we migh

[2016-04-30 23:22] elf-pavlik commented on #140
I would see comments on current `http:` prefix more as proposals for various possible improvements than dissatisfaction that one standard prefix exists. As of today, registered link relations act just as unique identifiers and to my knowledge no one expects to discover additional information by dereferencing them. Possibly at some point in the future IETF will find interest to leverage this curren

[2016-05-03 00:58] mnot commented on #170
Closing based upon changes above; if they aren't enough / right / clear, please reopen.

[2016-05-03 00:58] #170 closed

[2016-05-03 01:05] mnot commented on #140
@dret it's pretty clear that there are some communities that want to use them, so some guidance would help avoid common pitfalls.

I don't think that having One True Prefix in the spec is going to be helpful, because AIUI there are some fairly exacting requirements on how that namespace is run, both in terms of the URIs and potentially what happens when you dereference them (based on discussion wi

[2016-05-03 01:06] mnot commented on #145
Closing, based upon the changes above.

[2016-05-03 02:27] dret commented on #145
i commented on the commit, it seems to be at odds with the current state of #140.

[2016-05-03 02:44] mnot commented on #145
Would removing the "These URIs also..." sentence work for everyone?

[2016-05-03 02:50] dret commented on #140
On 2016-05-02 18:05, Mark Nottingham wrote:

i am sorry to be pedantic, but what is "them"? i think we have to be
really clear about what we are talking about, and in the discussions so
far, i think to things get mixed up:

- the normative lexical value of registered relation types.

- stable URIs that can be used to refer to the types, but are not the
lexical value of the type.

sorry if this is

[2016-05-03 02:56] dret commented on #145
works for me. since i opened this issue: this was meant as a clean-up item in case there was a change to the spec turning registered strings into URIs, or allowed URIs as aliases. afaict, that's currently not the case, and thus this issue does not apply (yet).

[2016-05-03 03:09] mnot commented on #140
The lexical value of the type as defined in the standard is not what may appear on the wire, depending upon the transformations that a serialisation applies to it.

Trivial (and common) examples of such a transformation are character encoding, compression and encryption.

The draft is saying that other transformations are possible, including mapping registered relation types into a separate space,

[2016-05-03 03:29] dret commented on #140
On 2016-05-02 20:09, Mark Nottingham wrote:

agreed, but that is entirely out of scope of the spec, is it not? the
spec says which lexical value represents a registry entry.

sure, but these are layered concerns and do not affect the spec.

i am still not clear about why that needs to be said. of course if
there's agreement on two sides, they can apply whichever transformation
makes them happy and

[2016-05-03 04:53] mnot commented on #140
#142 has a TODO to add a section about creating new serialisations. I think moving this text into that might help.

[2016-05-03 06:09] mnot commented on #172
Yes. I've intentionally not registered the media type because I want the flexibility to change the format when it's more baked.

[2016-05-03 08:08] asbjornu commented on #140
@mnot Thanks for finally providing a conclusion on this issue. The more I think about it, the more I agree with you in that it's not up to rfc5988bis to provide mapping to other serialisations of link relations. That can and probably should be solved externally in another RFC or W3C REC.

[2016-05-03 08:11] asbjornu commented on #145
@mnot Works for me. :+1:

[2016-05-03 15:31] asbjornu commented on #170
@mnot I think this is a clear improvement. If we can get some traction on #143 as well, implementers would have a much easier job. Thanks!

[2016-05-04 06:25] mnot opened #176 "Flag to indicate partial digest"
As discussed in #167, we need a flag to indicate whether the digest is partial or complete for the origin.

For discussion: should this be a flag in the frame header, or the payload?

[2016-05-04 06:26] mnot opened #177 "Extensibility"
... to express things like evolved digest formats, inclusion of stale cache entries, etc. as discussed in #167.

[2016-05-04 22:19] kazuho commented on #176
Would it be better to have the flag in the payload, considering the fact that we _may_ add a field to the payload that modifies the scope of the digest (e.g. the `origin` attribute)?

[2016-05-05 19:12] hvdsomp commented on #175
In addition, I would like to propose adding a Link Hint to express the semantic type of the linked resource, that is, to express the same info on a link to a resource that would be expressed at that resource itself by means of a "type" link. I understand that this can not be achieved by means of the existing and widely used "type" attribute (reserved for mime types). So, maybe a "sem-type" attribu

[2016-05-10 05:53] #145 closed

[2016-05-10 06:08] #140 closed

[2016-05-10 06:27] #74 closed

[2016-05-10 06:28] mnot commented on #42
Think this was http-problem; published.

[2016-05-10 06:28] #42 closed

[2016-05-10 14:07] elf-pavlik commented on #140
JSON - 'application/json'
doesn't specify how to use link relations, `"rel": "next"` can as well mean the name of a cat

JSON-LD - 'application/ld+json' ([plus 3 profiles](https://www.w3.org/TR/json-ld/#iana-considerations))
HAL - 'application/hal+json'
JSON API - 'application/vnd.api+json'
UBER - 'application/vnd.amundsen-uber+json'
Mason - 'application/vnd.mason+json'
Siren - 'application/vnd.si

[2016-05-10 15:17] dret commented on #42
yup, it was. the same problem applies to home documents, btw, when looking at the JSON and XML syntaxes (but there it's currently two separate drafts).

[2016-05-12 02:38] mnot opened #178 "LWS"
Need to make whitespace explicit in Link ABNF.

[2016-05-12 03:00] mnot opened #179 "Value space of target attribute names"
case-insensitive

[2016-05-12 04:36] mnot commented on #143
OK, I've started a parsing appendix. I think the multiple reps (etc.) issue is already clear in the text now (thanks @asbjornu).

@annevk et al would you please do a quick sanity check on the commit above?

Also at:
  http://mnot.github.io/I-D/rfc5988bis/?#parse

[2016-05-12 04:39] mnot commented on #179
Also, need to clarify that it's up to individual types to talk about whether to check for RFC5987,

[2016-05-12 07:13] annevk commented on #143
Looks reasonable, though I suspect in practice browsers probably assume UTF-8 as encoding, or maybe multiple encodings if parsing headers mostly goes in terms of bytes (initially).

You'll need to define "whitespace". Also URLs...

[2016-05-13 00:27] mnot commented on #36
For me, the underlying issue is that right now, target attributes for a link are defined by:

- The link header
- HTML
- Atom
- individual link relations

in a pretty uncoordinated fashion. This is awkward, because it has the possibility of collision -- especially, a parameter that has different syntax or even semantics depending on what serialisation the link occurs within.

OTOH new serialisatio

[2016-05-13 01:20] #179 closed

[2016-05-13 01:26] mnot opened #180 "RFC5987(bis) processing on extension attributes"
Right now, the link header defines _two_ serialisations for extension target attributes, differentiating them with a * on the end of the name (thanks to RFC5987 encoding).

How should this be surfaced in the generic link model? A few possibilities:
1. They're automatically processed and write over the *-less version of the attribute.
2. Both versions are exposed to the consumer; it can pick what t

[2016-05-13 02:25] mnot commented on #151
Probably best to discuss this once it's actually in IETF process formally; closing for now.

[2016-05-13 02:25] #151 closed

[2016-05-13 02:36] mnot commented on #180
Firefox appears to assume ISO-8859-1 encoding (at least for `title` on `rel=stylesheet`); see:
  http://test.mnot.net/foo/

[2016-05-13 02:44] mnot commented on #143
@annevk - thanks, have defined whitespace, will punt on URL for now :)

WRT encoding - firefox appears to assume ISO-8859-1 encoding (at least for title on rel=stylesheet); see:
http://test.mnot.net/foo/

That's actually based upon the original definition of the title attribute of Link, which used the `quoted-pair` ABNF from 2616 (and predecessors), which referred to the `TEXT` ABNF, which was exp

[2016-05-13 02:44] #143 closed

[2016-05-13 02:50] mnot commented on #180
... and that appears to be based upon Link's original use of `quoted-string`, which in turn used `TEXT`.

However, RFC7230 obsoleted `%x80-FF` in `quoted-string`.

It's tempting to say that at a minimum, extension parameters don't use `quoted-string`, but instead a new ABNF rule that contains UTF-8, not ISO-8859-1. Title might have to stay with RFC5987 encoding for backwards compatibility.

[2016-05-13 05:58] annevk commented on #143
I mainly suspect the URL to be UTF-8.

[2016-05-13 06:15] asbjornu commented on #36
:+1: Some "best practice" guidance in an informative section would be good.

[2016-05-13 06:20] asbjornu commented on #180
I'm :+1: for defaulting to UTF-8. Does RFC 7230 and an UTF-8 default mean that there isn't a problem with `*` and encoding, or does that still need to be tackled somehow?

[2016-05-17 06:35] mnot commented on #143
Nope; it appears to assume 8859-1 in the URL too.

[2016-05-17 06:56] mnot commented on #143
Testing a bit more with Location (since only FF honours Link rel=stylesheet), it appears that when non-ascii characters appear in the URL, the bytes are just percent-encoded as is.

E.g., if I send UTF-8 `ü` on the wire in Location, the resulting URL will have `%C3%BC`. If I send ISO-8859-1, it'll be `%FC`.

Tested with FF and Chrome.

[2016-05-17 06:57] #36 closed

[2016-05-17 07:15] annevk commented on #143
That makes sense.

[2016-05-18 06:59] mnot commented on #177
See changes above. I don't think it's necessary to establish a registry at this point; a future spec can do that if necessary, or they can just update this one.

[2016-05-18 07:05] mnot commented on #176
See #177 for updated frame layout.

I don't have a strong feeling on this. If we put it into the frame, I think we'll end up with something like:

[code]

Which is a bit odd, because (a) there's already a flags field in the frame header, and (b) extensions will go at the bottom, not the top with the flags.

WDYT?

[2016-05-18 07:57] kazuho commented on #176
Would it be strange if we define the indicator for a partial digest directly in the format (like shown below) instead of defining `flags`?

Also, shouldn't Digest-Length and Digest-Value be aligned to 8-bit boundary?

If the two are OK to you, how does the following look to you?
[code]

[2016-05-18 09:51] kazuho commented on #177
I am not firmly against having `Digest-Length` field, but can't we just send multiple CACHE_DIGEST frames in case we want to send digests in other formats or stale entries?

Consider the case of using another encoding.  In the case, it is likely that we would need to have attributes other than `N` and `P`, and that means that the structure prior to `Digest-Length` would become different.  In other

[2016-05-18 11:07] mnot commented on #177
I'm absolutely fine with not having Digest-Length; I'd just thought that the conclusion of the discussion on the pull request was that the frame type needed to be extensible, and that seemed like the simplest way to allow it.

In #176 you prefer putting the partial/complete flag in the payload; I tend to think that we should have one place for flags.

We _could_ just go ahead and define the follow

[2016-05-18 12:55] kazuho commented on #177
:+1: Thank you for the clarification.

Sounds sensible.  No objections.

+1 to adding `reset`.

For stale digest, I believe we need to figure out how to push a cache validator (and my preference goes to `HEAD`).  Do you have any plans to write an I-D for that, or shall we?

And as said, I have no objections on defining `partial` as the third flag.

Yeah! Thank you for standardizing H2.

[2016-05-23 02:41] kazuho opened #181 "digest of stale resources"
If we are to support sending cache digest of stale resources (https://github.com/mnot/I-D/issues/177#issue-152938916), we:
* MUST define how to hash a stale resource
* SHOULD define how to push a cache validator using H2

For the first topic, I believe:

* if a stale response has a etag, then the hash value should be calculated as `H(URL + entity-tag)`
* if a stale response does not have a etag bu

[2016-05-25 05:15] mnot commented on #181
This mechanism (3xx Validator Only) is an optimisation for the case where the client has a stale cached copy, but the edge doesn't have a copy, correct?

I think there are two cases that are good to talk about here:

1. If latency between the client and the edge is significantly higher than from the edge to the origin (e.g., the edge is a reverse proxy right in front of it), the edge can delay the

[2016-05-25 06:01] mnot commented on #177
`reset` has the same effect as `partial` -- it indicates when the frame's contents should be added to the set of current digests, or when it should remove them all and start fresh. Does that make sense, or did you have another semantic in mind?

[2016-05-25 06:05] kazuho commented on #177
@mnot Thank you for the clarification. It does make sense and I agree that we should have it.

[2016-05-25 06:48] kazuho commented on #181
@mnot Thank you for the response.

Yes.

The edge server should not reset one of the two, since the client might reset the other (trying to read from the stream that the edge server resets).

So if the edge server sends a PUSH_PROMISE of a link-preloaded resource after the HEADERS frame that contains the link-preload tag, then there is a chance that the client issues a pull for the same resource,

[2016-05-26 02:47] mnot commented on #76
Any preferences between camelCase and CamelCase? What are the cool kids doing these days?

[2016-05-26 02:53] mnot commented on #173
6570 uses `parameter` most often to talk about syntactic constructs in URIs; `variable` is used to talk about the input to templates, which is what's happening here.

[2016-05-26 02:55] mnot commented on #174
@marcoscaceres any thoughts? I'm happy to chat, but not sure whether coordination is going to be worth the extra friction on both sides...

[2016-05-26 03:42] marcoscaceres commented on #174
[We have a registry](https://github.com/w3c/manifest/wiki/Extensions-Registry) and @dret is in charge of it... so, go nuts and break all the things! :)

[2016-05-26 04:44] mnot commented on #180
@reschke any thoughts?

[2016-05-26 05:48] reschke commented on #180
Firefox is consistent in how it treats non-ASCII in quoted-string (the same is true for Content-Disposition, AFAIK). I don't believe that having rules per header field is a good idea.

[2016-05-26 06:43] asbjornu commented on #76
The convention in JavaScript is inherited from Java, which is `lowerCamelCase`.

[2016-05-26 06:44] mnot commented on #180
I think spec authors would find it surprising (in a bad way) that someone could inject/override a parameter field value into a header by adding another instance of it suffixed with `*`.

What's not clear is whether that surprise is potentially a vulnerability. However, it feels somewhat similar to HTTP response splitting and the like, especially since the recipient is allowed to fall back to the o

[2016-05-26 06:51] akuckartz commented on #76
For those interested in history: camelCase and CamelCase were first introduced in Smalltalk (which is still cool, see http://squeak.org/ :-).

[2016-05-26 07:03] reschke commented on #180
"I think spec authors would find it surprising (in a bad way) that someone could inject/override a parameter field value into a header by adding another instance of it suffixed with *."

How is that different from injecting the same parameter without the "*"?

Reminder: parameters are not supposed to repeat; but that might be just folklore (Keith told me that back when RFC5987-to-be mentioned mult

[2016-05-26 07:29] mnot commented on #180
An author can specify exactly one instance of a parameter, first match wins, and still be vulnerable to having it interpreted different by different recipients -- even if the payload is an integer (for example).

[2016-05-26 07:43] reschke commented on #180
OK. Approach #2 sounds better then.

[2016-05-26 07:59] mnot commented on #180
That's the least desirable option to me; It is really, really nasty to expose a serialisation-specific encoding convention to a consumer. Every link relation that defines parameters that take non-ASCII input would have to talk about this special case.

[2016-05-26 08:02] reschke commented on #180
...but then it's at least simple and predictable in that all parameters are treated uniformly.

[2016-05-26 09:09] asbjornu commented on #180
Would an update to RFC 5987 (-bis), enforcing parameters to only occur once, help? If so, perhaps that should be tackled first? I do see the value of having multiple `title` parameters in different languages, but localization of parameters is a whole beast of its own, isn't it? Not something that's fully solved by allowing parameters to occur more than once, at least.

[2016-05-26 09:14] asbjornu commented on #180
I'd say go for option 3 and figure out a better i18n solution.

[2016-05-26 09:27] dret commented on #174
thanks for having a look, @mnot and @marcoscaceres. it was maybe just an odd idea, and thinking of it a bit more, i don't think there's a lot of value in trying to shoehorn one of these formats into the other. i'll go ahead and close this issue.

[2016-05-26 09:27] #174 closed

[2016-05-27 04:53] mnot commented on #181
See changes above.

I haven't included Last-Modified; do you think we need it, or can we just do ETag?

I also haven't included server-side behaviour specification, as I'm starting to think we need a separate "how to do server push" spec altogether.

[2016-05-27 04:54] mnot commented on #181
Unrelated but as I was doing this, I noticed:

I think one of those numbers needs to change to the other, correct? 2**31?

[2016-05-31 01:39] mnot opened #182 "Specifying examples"
Examples should include HTTP/1.1 headers, with both the request and response.

[2016-05-31 05:25] mnot opened #183 "Off by one?"
I think that should be "If N is greater than 2**31"...

[2016-05-31 05:26] mnot opened #184 "Decoding"
As per @martinthomson, we need to specify how to use the digest.

[2016-05-31 06:16] kazuho commented on #177
Thank you for the updates!

I have no objections to omitting `last-modified` (esp. considering the fact that users can work-around the issue by coverting `last-modified` to `etag` in their reverse proxy configuration).

Sounds like a sensible thing to do.

Regarding the flags, could we define `VALIDATORS` and `STALE` defined as a single flag?

I am not sure what we can gain by having the two defin

[2016-05-31 06:42] mnot commented on #177
It would allow you to push the validators for fresh responses, in case someone wanted to invalidate something that's fresh. Not a use case now, but it might be interesting in the future.

[2016-05-31 06:50] kazuho commented on #177
Thank you for the clarification.  Understood.  No objection to having two flags.

[2016-05-31 07:28] #177 closed

[2016-05-31 07:28] #181 closed

[2016-05-31 07:29] mnot commented on #176
Please reopen if you see any issue.

[2016-05-31 07:29] #176 closed

[2016-05-31 07:31] kazuho commented on #181
Thank you for noticing the issue.

I believe it should be changed to: Round down N to power of 2, smaller than 2**32.

By changing as such, it would match the definition of P.  It also makes the definition clear since `log2(N)` always becomes an integer.

[2016-05-31 07:43] kazuho commented on #183
I believe it should be changed to: Round down N to power of 2, smaller than 2**32.

By changing as such, it would match the definition of P. It also makes the definition clear since log2(N) always becomes an integer.

(originally responded [here](https://github.com/mnot/I-D/issues/181#issuecomment-222612861) - link added to avoid confusion)

[2016-05-31 14:33] asbjornu opened #185 "Relationship between attributes and parameters"
I'm probably just dim, but I don't think RFC 5988 is clear on the difference between "target attributes" and "link parameters". Could a section describing the difference and the relationship between them be added, or at least described to me so I understand the difference? Thanks! :smile:

[2016-06-01 01:03] #183 closed

[2016-06-01 01:05] mnot commented on #185
target attributes are on the abstract link model; link parameters are on the concrete syntax of the link header serialisation.

If there's somewhere where they're used inconsistently, please do point it out.

[2016-06-01 05:46] asbjornu commented on #185
@mnot I don't think they're used inconsistently, I just wish that they were discerned more expressively in the specification, because I'm still not sure what:

actually means. Can you please elaborate, preferably in the specification?

[2016-06-03 01:27] mnot opened #190 "value-less parameters"
Link parameters are seen in the while without a value; e.g., `rel='preload' crossorigin` in http://w3c.github.io/preload/

[2016-06-03 09:18] asbjornu commented on #190
In HTML, value-less attributes are called [boolean attributes](https://www.w3.org/TR/html5/infrastructure.html#boolean-attributes), perhaps rfc5988bis should adopt that and call value-less parameters for "boolean parameters" too?

[2016-06-07 05:05] mnot commented on #184
Straw-man to start defining the algorithm:

## Querying the Digest for a Value {#querying}

Given:
* `digest-value`, an array of bits
* `URL`, an array of characters
* `ETag`, an array of characters
* `validators`, a boolean

we can determine whether there is a match in the digest using the following algorithm:

1. Read the first 5 bits of `digest-value` as an integer; let `N` be two raised to the

[2016-06-07 18:56] kazuho commented on #184
@mnot Thank you for your effort!

I believe step 4 should start `C` from -1, and step 8 should increment `C` by `D + 1`.  In the encoding process we subtract 1 from the delta (because we do not encode duplicates), and we need to the reverse during the decoding process.

Other than that I do not see any issues.

[2016-06-08 02:37] #184 closed

[2016-06-08 04:04] martinthomson commented on #184
At what point are the characters turned into octets?

[2016-06-08 04:08] martinthomson commented on #184
Note also that you can stop parsing when `C > hash-value`.

[2016-06-08 04:13] mnot commented on #184
That's in {{hash}}.

I think that's an optimisation we can leave up to the reader; this is pseudo-code, after all :)

[2016-06-15 21:45] dret commented on #41
@mnot, any thoughts on this one? if you're ok, i'd be happy to contribute a PR, containing a bit of explanatory text, and the appropriate IANA registration template.

[2016-06-16 08:18] asbjornu commented on #41
I agree that a `home` relation would be useful. It conveys something different from `contents`, `up` and `start`. It would be useful if the text for the registration of the `home` relation explained this difference explicitly, I think.

[2016-06-16 10:01] dret commented on #41
On 2016-06-16 04:18, Asbjørn Ulsberg wrote:

link relations are fuzzy by nature so it will be hard to differentiate
these things in a definitive way. but i would certainly try and as
usual, feedback will be very much appreciated.

[2016-06-17 01:04] dret opened #191 "Add service link relation types"
this may be a bit of a long shot, but in particular if the "home" link relation gets added (#41), then what about also adding the two link relations proposed in https://tools.ietf.org/html/draft-wilde-service-link-rel? it's a separate draft now, but i think home documents would be a great home (ha!) for those link relations, making things a little less scattered across a variety of drafts.

[2016-06-17 08:41] asbjornu commented on #191
The less RFC's people have to read, the better, imho. While modularity is a good design pattern, I don't think there's much need for that here. So :+1:.

[2016-06-21 09:29] dret commented on #41
for now, https://github.com/dret/I-D/commit/3002e1ff8d1499f3b62259f16e0d04a06b951492 (the "XML syntax for home documents" draft) is where i have added the "home" link relation type. at least it's somewhere, and i'd be fine to migrate it to the core spec when/if the time seems right.

[2016-06-22 15:26] dret opened #192 "How does "formats" work?"
reading through https://tools.ietf.org/html/draft-nottingham-json-home-04 and looking at the example i cannot quite figure out how "formats" (https://tools.ietf.org/html/draft-nottingham-json-home-04#section-4.2) works.
- the section talks about GET and PUT, but those aren't the only methods for which it might be necessary to talk about "formats", right?
- how does the key/value structure work? th

[2016-06-22 15:29] dret opened #193 "Drop URI Template Support"
this is a radical proposal but maybe will make it easier to proceed: i am not sure how many people need and use the descriptive structures for URI templates. these seem to introduce quite a bit of complexity in the draft, and maybe will only be used by a small fraction of users. having attempted describing URI templates myself (https://github.com/dret/I-D/tree/master/Abandoned/link-desc) i tend to

[2016-06-22 15:38] dret commented on #192
https://github.com/dret/I-D/commit/68ee1100624820b9c3b085ab91cc0ce3e5ae4f62 is my first stab at how to do this for the XML syntax. but i am sure this will need to be tweaked once i better understand the "formats" mechanism.

[2016-06-22 15:45] dret commented on #192
thinking about this some more: maybe this is a combined "GET"/"PUT" hint that's kind of analogous to the "accept-*" ones? if so, for consistency what about having an "accept-put" and leave "formats" to only talk about the formats for retrieval?

[2016-06-22 15:52] dret commented on #192
now i realize that this is how -02 worked and accept-put then disappeared in -03. to me that seems like a loss, but i am sure there was some reason to do it.

[2016-06-22 15:56] dret opened #194 "Inconsistency in JSON Home example?"
for the example shown in https://tools.ietf.org/html/draft-nottingham-json-home-03#section-2, is it an inconsistency that "allow" does not list POST, but that there is an "accept-post" hint?

[2016-06-22 16:04] dret commented on #192
i realize that this structure (using the example from the draft) is not good for the fine-grained "hints" concept. but it associates things more directly and maybe is easier to read and understand?

[code]

[2016-06-22 21:18] mnot commented on #192
Good Q, although the phrasing reminds me of [this](https://www.youtube.com/watch?v=OvmvxAcT_Yc) :)

Will need to dig into it, not sure I can get to it soon, as I'm on the road for a while.

[2016-06-23 08:18] dret commented on #192
On 2016-06-22 23:18, Mark Nottingham wrote:

no intention to be offensive on my side, sorry if it came across like
this. simply trying to figure it out as the XML format needs to be aligned.

ok. i'd be more than happy to help, and maybe simplifying the whole
thing (as suggested in #193) to be more about interconnecting resources
and not so much about capabilities would make it easier to move forw

[2016-06-23 22:26] mnot commented on #192
this. simply trying to figure it out as the XML format needs to be aligned.

Oh, no, sorry! Was not trying to imply that, just being silly. Sorry.

[2016-06-27 10:33] dret commented on #41
https://tools.ietf.org/html/draft-wilde-home-xml-04#section-4.3.1

[2016-07-07 23:13] nvwebd opened #196 "Questions regarding h2_cache_digests"
Hi to all that are following this spec.

I would need some clarification on the hashing process:

Key should be a SHA256 message digest expressed as integer...??? If I use the parseInt() - I'm dabling with a JavaScript Implementation - function to express the key in integer I get a biiiiIg exponential number. Am I thinking correctly?

And then the second step with truncating the integer of SHA256

[2016-07-13 23:19] nVVEBd commented on #196
It seems a bit hard to implement the hash-value 1/1 in JavaScript.

SHA256 is represented with 256bits -> JavaScript can't handle more than 64bit floating point with 2^56 - 1 precision.

I would like to know what do you think about this solution:

- Representing the SHA as an ArrayBuffer and then add the buffer values to a variable to be represented as a Number -> converting the Number to binary a

[2016-07-14 00:16] kazuho commented on #196
What you should do is take the first `N + P` bits of the SHA output (i.e. the same way as is done in [RFC 2104 section 5](https://tools.ietf.org/html/rfc2104#section-5) or in [RFC 3874 section 2](https://tools.ietf.org/html/rfc3874#section-2).

How you would implement it depends on the output form of the SHA256 function you are using, and the maximum value of `N+P` that is going to be emitted by y

[2016-07-14 23:24] nVVEBd commented on #196
I worked it out.

@kazuho your solution was wrong I used : `let trunc = (f32bits & (Math.pow(2, thisBits)-1));`. But thanks for showing me the direction to go into.

[2016-07-15 00:57] kazuho commented on #196
@nVVEBd Glad to hear.

I am not sure how your implementation as a whole works, but if the URL is `https://example.com/style.css` and N+P is 12, then the expected hash value of the URL is 0xbaf (leftmost 12 bits of sha256(`https://example.com/style.css`).

[2016-07-15 07:53] nVVEBd commented on #196
Next questions:
  1. Let N be the count of URLs' members, rounded to the nearest power of 2 smaller than 2**32:
    -> I have 4 members and the nearest is 2 - or should the rounding go up to 8?
  6. Let digest-value be an empty array of bits -> UInt32 ?
  7. Write log base2 of N to digest-value using 5bits -> I push this into the array as a byte with 5bits?

[2016-07-19 08:29] mnot commented on #180
Talked to @reschke about this a bit in Berlin.

I'm currently leaning towards (1), with a fair chunk of text) and maybe requirements in Security Considerations.

[2016-07-19 13:10] nVWEBd commented on #196
I figured out the way to implement the above questions but the last one remains:

- Write R to digest-value as binary, using log2(P5) bits -> I get a float number 7.124124 -> do I round this number and then use the rounded value as bits?

[2016-07-22 14:21] mnot commented on #193
That means that you couldn't use json-home for generative URLs, which seems like a pretty big deal.

[2016-07-22 17:48] dret commented on #193
On 2016-07-22 07:21, Mark Nottingham wrote:

true. it just seems to me that defining the one description format for
template variables is not something that anybody so far has successfully
done. so maybe support templates yes, but stay away from also providing
any description of the variables?

at least for myself i can safely say that i have tried to come up with
such a description format for qui

[2016-07-30 14:34] mnot opened #197 "Home implementation"
for tracking:
  https://apidemo.w3ctag.org

cc @plinss

[2016-07-30 14:35] plinss commented on #197
Also:
https://api.csswg.org/shepherd

[2016-07-30 14:36] plinss commented on #197
Client implementation (used by Bikeshed):
https://github.com/plinss/apiclient

[2016-08-08 09:18] aef opened #198 "Different kinds of link relation types"
Since draft 4 you seem to have dropped any mention of classic link relation types and instead use URIs of the `tag` scheme now. How do these relate to the link relation types registered in the [IANA link relation type registry](http://www.iana.org/assignments/link-relations/link-relations.xhtml) and those classic custom link relation types that were defined as simple URIs of `http` scheme? Is ther

[2016-08-08 09:37] aef opened #199 "Links to external sites (aka absolute URIs or network-path-references) in JSON home"
It seems that providing links to external sites (URIs that are not references to the context URI of the home document) is disallowed in JSON home.

Is that really intentional? Why is that so?

For example, I would like to use a home document in one service to provide URIs and URI templates for its publicly exposed resources. Resources that are potentially mostly accessed by human users through a b

[2016-08-08 11:21] aef opened #200 "Sets of link relation types"
At least in HTML and the Link headers described in RFC 5988 it is possible to publish a link carrying a set of link relation types. Examples would be `rel="stylesheet alternate"` or `rel="shortcut icon"` (I am aware that there are issues about the meaning and formal specification of the `shortcut` link relation type). The current draft doesn't seem to explicitly describe how to handle such sets.

[2016-08-09 14:13] aef commented on #199
Another example would be providing links to image resources on one site, but the images themselves are provided by an external CDN site.

[2016-08-09 22:04] mnot commented on #199
What text in the spec makes you believe this?

[2016-08-10 13:22] aef commented on #199
In draft 4 it is in section 3 "Resource Objects" saying

[2016-08-10 13:36] aef commented on #199
So this wasn't your intention. I guess I would have never thought about it meaning this if it said that "In case it is a relative reference, the base URI is that of the JSON Home Document itself."

[2016-08-10 23:37] #199 closed

[2016-08-11 03:51] mnot commented on #198
Don't read too much into the examples -- I didn't use registered relation types because there wasn't a good example of one (and I suspect most APIs are going to be using api-specific ones).

Generally agree that the examples / supporting prose need more clarity though. Thanks!

[2016-08-11 08:08] aef commented on #199
Just to make it perfectly clear for everyone: You did not intend to limit linking to external sites in JSON home documents, right?

[2016-08-11 08:14] mnot commented on #199
Correct.

[2016-10-12 18:45] handrews opened #201 "Relationship to JSON Hyper-Schema?"
I apologize if this has been brought up and dismissed already- I don't see it as an issue but I have not scoured the internet for other discussions.

Has there been any consideration to aligning the syntaxes of JSON Home and JSON Hyper-Schema as much as possible?  In particular, json-schema-org/json-schema-spec#52 (extended templating) defines a URI Template plus variable resolution syntax.  The v

[2016-10-21 06:52] handrews commented on #201
Based on discussions on the hyper-schema side, I don't think there's a ton of interest in doing anything about this.   Closing to reduce clutter, can always be opened again if interest grows.

[2016-10-21 06:52] #201 closed

[2016-10-26 15:45] conzett opened #202 "Can/should extended link relations resolve to resource objects?"
I stumbled on json-home while looking for a way to describe extended link relations as part of a hypermedia API per RFC5988. It looks like the scope is just to describe the entire application structure at the root of the API (hence "home") however, it seems like parts of the specification could be very useful for providing documentation about relations deeper in the API.

For example, if I've navi

[2016-11-03 06:44] mnot commented on #202
I hadn't really considered using it in this manner; it feels like you're talking about a sort of a RESTish version of an [EPR](https://www.w3.org/Submission/ws-addressing/#_Toc77464317) (which causes me to question some of my life choices).

/cc @dret

[2016-11-03 13:52] dret commented on #202
i do not think that the idea of home is to "describe the entire structure". think of it rather than of a well-designed home page of a site: it has the most popular entry points to paths through the site, but is nowhere near to being a complete site map.

when it comes to the dereferencing extended link relations: i do not think that JSON home has anything to do with that. if that's a pattern you'd

[2016-11-03 13:59] asbjornu commented on #202
I also don't view json-home as a replacement for [Sitemap](https://en.wikipedia.org/wiki/Sitemaps).

That's a way JSON-LD (RDF) is used, isn't it? Every property in your JSON is a word in a vocabulary such as [schema.org](http://schema.org/), identifiable by its own URI. By using URIs to identify both the subject, the adjective and the verb of what you're modelling in your resources, you pretty mu

[2016-11-03 15:01] conzett commented on #202
I agree -  sorry if I wasn't very clear in my original issue. I was referring only to the [Resource Object](https://mnot.github.io/I-D/json-home/#rfc.section.3) concept discussed within the JSON Home draft spec.

It took me a second, but that does make sense 😀 . In this case I'm working on a [HAL-based API](https://tools.ietf.org/html/draft-kelly-json-hal-08) which encourages Custom link relation

[2016-11-03 15:20] dret commented on #202
On 2016-11-03 08:01, Graham Conzett wrote:

i'll leave the authoritative answer to @mnot. in the end, i wouldn't
read too much into the name or the concept. it's simply the name
associated to *any* resource made available through JSON home. i am not
sure it is even necessary to define this term, but that's simply how the
draft is currently doing it.

the main point behind the concept is that it al

[2016-11-03 16:21] conzett commented on #202
@dret Thank you for the detailed reply! That clarifies terminology and focus of what JSON Home is trying to accomplish.

As a point of clarification (and I'm hopefully not drifting too far off topic here) when I mentioned RFC 5988 I was referencing [section 4.2](https://tools.ietf.org/html/rfc5988#section-4.2) specifically which says (emphasis added)

   extension relation type, which is a URI [RF

[2016-11-03 16:55] kidehen commented on #202
@dret --

RDF is a Language. It only prescribes the use of IRIs to identify the subject, predicate, and object (optionally) of RDF-Language sentences.

Linked Data is simply about the "best practice" of using HTTP URIs to identify the subject, predicate, and object (optionally) of RDF-Language sentences.

If you create a document containing RDF-Language sentences, that adheres to  Linked Data prin

[2016-11-03 17:47] dret commented on #202
On 2016-11-03 09:21, Graham Conzett wrote:

"describe the relation when the URI is dereferenced" is probably not
exactly what you want to say there (my apologies for trying to channel
you). i am guessing that you either want to *describe the link relation
as a dereferencable one*, and/or want to *define which media type to
expect when you're dereferencing such a dereferencable link relation*.

RFC

[2016-11-03 18:01] handrews commented on #202
I'm not sure we're all interpreting "opaque" the same way, then, and I feel like I'm missing something.

Since the RFC specifically allows that the identifiers might be meaningfully dereferenced, that is not the same (to me) as saying that they are completely opaque tokens.  It allows that you may be able to do something with them.  It just doesn't impose any requirements on whoever created the UR

[2016-11-03 18:09] dret commented on #202
On 2016-11-03 11:01, Henry Andrews wrote:

the spec simply says it needs to be a URI, and that the only "meaning"
of that URI is its given value. so you can use "tag:42" as a link
identifier (not a great idea, i'd say, but perfectly fine in the context
given by RFC 5988). it's not completely random gibberish, but also not
something that has any meaning when looked at out of context.

we have this

[2016-11-03 18:10] handrews commented on #202
URI, then it simply is a "by value" identifier (i.e., the only
meaningful operation *in that context* is to compare identifier values),
and not a "by reference" identifier.

Then why talk about what it might reference?

[2016-11-03 18:13] handrews commented on #202
To be clear, I'm not looking to assert that URIs used for identification purposes should be automatically dereferencable, that is clearly against the RFC.  I'm trying to figure out the point of both saying "this is what it should point to if it points to anything" and then completely refusing to allow that it *might* point to something, which is what this feels like.

[2016-11-03 18:17] dret commented on #202
On 2016-11-03 11:10, Henry Andrews wrote:

are you talking about the RFC 5988 text here? RFC 5988 simply
acknowledges the fact that somebody might be doing this, but itself
defines things so that you're not doing it. it does so just to say that
clients should not blindly attempt to dereference URIs. i think the main
pain point it addressed was the "HTML4 DTD" problem and similar
scenarios in which

[2016-11-03 18:18] dret commented on #202
On 2016-11-03 11:13, Henry Andrews wrote:

it does not refuse that at all. it simple is agnostic about that part,
and says that clients should be careful when making such an assumption.

[2016-11-03 18:19] kidehen commented on #202
@conzett :

Excerpting what @dret stated in his comment i.e., ""describe the relation when the URI is dereferenced" is probably not
exactly what you want to say there (my apologies for trying to channel
you). i am guessing that you either want to *describe the link relation
as a dereferencable one*, and/or want to *define which media type to
expect when you're dereferencing such a dereferencable l

[2016-11-03 18:28] kidehen commented on #202
@handrews : You are correct about identifier opacity. Confusion arises when HTTP URIs as used as Identifiers due to their implicit duality i.e., they serve two functions: 1) entity denotation 2) resolution to connotation (i.e., name->entity-description-document-address indirection).

Whenever you encounter Linked Data for instance, it simply boils down to exploiting the aforementioned duality comb

[2016-11-03 18:35] handrews commented on #202
@kidehen Yeah I think we're on the same page.  @dret I don't think that the RFC refuses that, but your statement seemed to.  It's clear to me at this point that that was not your intention.  I still don't get why the RFC talks about what the referenced resource might be, but that's not a JSON Home issue so I'll go ponder it somewhere else :-)

[2016-11-03 18:41] conzett commented on #202
Bringing this back around (after digesting everyone's comments) perhaps JSON home *would* help me here.

If the preference is to not dereference link extension URIs for documentation, I need some place where I can provide additional information about the link. Things like URL template parameters and general documentation. I'm struggling with where that information would reside currently.

[2016-11-03 18:46] dret commented on #202
maybe https://tools.ietf.org/html/draft-wilde-service-link-rel can help?

[2016-11-03 21:33] kidehen commented on #202
@conzett :  If you choose to follow Linked Data principles you will find that location becomes less of an issue for documents that describe entity relationship types (relations) that you identify using HTTP URIs (hyperlinks). For instance, using [nanotation](http://kidehen.blogspot.com/2014/07/nanotation.html), you can even use a Github post to hold your relation descriptions .

SeeAlso: https://m

[2016-11-03 22:38] conzett commented on #202
@dret That looks promising, thank you! Now I just need to find a suitable media type for the machine consumable representation of the documentation resource.

@kidehen How can I use your example for say, describing a resource and various URI parameters that can be used with it?

[2016-11-03 22:55] asbjornu commented on #202
@conzett: Have you looked at [Hydra](http://www.hydra-cg.com/)? It has the hypermedia (linked data) functionality you seem to be looking for as well as the ability to describe operations, expected input parameters, data types, etc.

[2016-11-03 23:00] handrews commented on #202
@conzett JSON Schema / Hyper-Schema?

[2016-11-04 01:14] kidehen commented on #202
@conzett : I have a few posts that describe the use of RDF-Language sentences to describes Web Service APIs and the Actions they provide:

[1] https://medium.com/virtuoso-blog/describing-web-services-using-a-linked-data-doc-using-schema-org-terms-6caa399fc97a  -- Describing Web Services using terms from Schema.org vocabulary

[2] https://medium.com/virtuoso-blog/api-descriptions-for-humans-machine

[2016-11-04 06:05] mnot commented on #193
Hm. Unknown for now -- would have to look at the proto-implementations to see what they're doing here (if at all).

More than anything, I just wanted to give the vars unique, global names. I agree that may not be enough motivation.

[2016-11-04 08:00] dret commented on #193
On 2016-11-03 23:05, Mark Nottingham wrote:

understood. and yes, it would be good to see how much URI template
support is implemented and needed. without having any data i would guess
that the vast majority of use cases are not using them. but that's
nothing but a guess.

understood as well. and i think that's a very useful thing to do, i
toyed around with something similar. it does make implemen

[2016-11-04 18:06] conzett commented on #202
@asbjornu I was very interested in Hydra before I started down this path but unfortunately I need to support some kind of XML format in addition to JSON. It looks like it could potentially be used with RDF/XML but I haven't seen any solid examples of that.

[2016-11-04 19:29] kidehen commented on #202
@conzett -- You can transform content of an RDF-Turtle or JSON-LD document into RDF-XML. Those notations and document content types have no bearing on terms defined in an Ontology or Vocabulary such as Hydra.  There are many tools that offer automatic content transformation circa., 2016 which means the document type used to publish an ontology or vocabulary shouldn't be an impediment to comprehens

[2016-11-05 00:43] mnot commented on #193
https://github.com/uri-templates/uritemplate-spec/wiki/Implementations

[2016-11-08 23:06] dret commented on #202
On 2016-11-04 11:06, Graham Conzett wrote:

don't fall into the trap of thinking that RDF/XML qualifies as an "XML
format". it makes sense to use it for RDF tool chains that support or
need RDF/XML as an RDF serialization. but RDF/XML is useless if you want
to support XML tool chains that need information to be readily available
at the XML level.

[2016-11-11 09:38] cbas opened #204 "Performance of Cache Digests"
Just implemented the spec (which was a lovely exercise) and had some thoughts on how to improve performance of the CD algorithm. Apologies if I misunderstood some parts of the spec or the authors' intentions.

### De-dupe URLs before hashing them
- Wastes time sorting and skipping through the list in a later stage.
- Inflates value of `N`, needlessly increasing size of the entire digest.

### Trim

[2016-11-12 11:04] cbas opened #205 "Typo in draft-kazuho-h2-cache-digest-01"
#### 2.2.1.  Querying the Digest for a Value
[code]

Should be:

[2016-11-13 05:54] mnot commented on #205
Wrong repo - this has moved to https://github.com/httpwg/http-extensions

[2016-11-13 05:54] #205 closed

[2016-11-13 05:54] mnot commented on #204
See - https://github.com/httpwg/http-extensions

[2016-11-13 05:54] #204 closed

[2016-11-13 12:36] mnot commented on #190
ABNF in 5988 already supports this.

[2016-11-13 12:57] mnot commented on #196
Closing, as this is now in the httpwg repo.

[2016-11-13 12:57] #196 closed

[2016-11-13 13:05] #155 closed

[2016-11-13 15:24] cbas commented on #204
Thanks @mnot 👍

I see interesting discussion on the hashing algo choice in https://github.com/httpwg/http-extensions/issues/228 It would perhaps be useful to run some benchmarks on real( world|istic) data to check whether hashing performance is really an issue. Will see what I can dig up and share any findings.

[2016-11-16 01:25] reschke commented on #33
So this is not super-easy due to how the spec is structured, and because making things generic is indeed breaking a few edge cases. I'd start with something like:

# Link Serialisation in HTTP Headers {#header}

The Link header field provides a means for serialising one or more links into HTTP headers.

The ABNF for the field value is given below:

[code]

This specification defines the parameters

[2016-11-16 04:36] mnot commented on #33
Seems reasonable to me, thanks. I'll integrate and ref this issue, but keep it open to make sure I get it right.

[2016-11-16 04:43] mnot commented on #33
TODO:

* [ ] Change: certain things can appear as token
* [ ] Change: quoted string handling
* [ ] Change: media type needs to be quoted
* [ ] Specify `title` / `title*`
* [ ] import `media-type` or define it
* [ ] clean up imports (if necessary)
* [ ] integrate value ABNFs into parameter descriptions

[2016-11-16 04:51] mnot commented on #33
@reschke thanks. You going to take a stab at `title` / `title*`, or wait for #180?

[2016-11-16 04:52] mnot commented on #178
Being resolved by #33.

[2016-11-16 04:52] #178 closed

[2016-11-16 05:01] reschke commented on #33
well, the title value doesn't have an ABNF, for title* we can of course refer to rfc5987bis.

[2016-11-16 05:02] #185 closed

[2016-11-16 05:08] mnot commented on #33
[code]

with an appropriate import?

Can an ABNF rule name include "*"?

Also, 5987bis allows LWSP around `=` -- what about here (and on other link params)?

[2016-11-16 05:19] reschke commented on #33
No; the param value ABNF should describe the syntax *after* undoing quoted-string, thus for title there's no structure left to enforce.

For "title*", ext-value is correct.

ABNF rule names can not have "*", so maybe use "title-star".

RFC5987bis doesn't contain this (ABNF about anything except ext-value) anymore. So it's up to the spec that uses the notation. Whether WSP around "=" is allowed var

[2016-11-16 05:27] mnot commented on #33
I see. Will have a go.

[2016-11-16 05:30] reschke commented on #33
FWIW, have a look at how we describe the syntax of cache-control directive values in RFC 7234...

[2016-11-16 05:42] mnot commented on #33
@reschke have a look. Still need to talk about 5987 encoding.

[2016-11-16 06:55] mnot commented on #33
@reschke currently:

Is the first `OWS` really necessary?

Also, thinking about putting BWS around URI-Reference.

[2016-11-16 06:59] mnot commented on #180
Now wondering if it needs the sec considerations.

[2016-11-16 07:03] reschke commented on #33
1) No, it's not.

2) BWS in front of doesn't make sense; leading whitespace is already consumed by parsing the message into field-name/field-value pairs (see <https://greenbytes.de/tech/webdav/rfc7230.html#header.fields>: "header-field   = field-name ":" OWS field-value OWS").

[2016-11-16 07:12] mnot commented on #33
I mean

[2016-11-16 10:19] reschke commented on #33
No, that looks like a really bad idea to me. Have you seen that in the wild?

[2016-11-17 06:17] mnot commented on #33
Not as such, but I suspect consumers will want to treat it leniently. Why does it look bad? Semantics seem clear...

[2016-11-17 06:23] reschke commented on #33
Well, putting things into "<" and ">" to me is quoting mechanism. Would you also say that "a" and " a " are equivalent?

[2016-11-17 06:28] mnot commented on #33
As URLs, yes. Remember, it's BWS.

[2016-11-19 12:43] reschke commented on #33
Well, I just wrote code that uses the Link header field, based on RFC 5987. And it would break if the sender would add whitespace around the brackets. The proposed change IMHO violates the <https://de.wikipedia.org/wiki/Principle_of_Least_Surprise> (while allowing whitespace around "=" does not...)

[2016-11-21 00:34] mnot commented on #33
RFC5987 is an Implied LWS spec, and "<" ">" are separators. Your new code is too strict.

[2016-11-21 06:47] reschke commented on #33
They are in the RFC 2616 grammar, but in the Link header field they are used as quote characters, not separators.

[2016-11-22 06:48] mnot commented on #180
Closing for now.

[2016-11-22 06:48] #180 closed

[2016-11-22 06:50] mnot commented on #33
[Hmm](https://www.youtube.com/watch?v=ae8t-QKPVY4). OK.

[2016-11-22 07:22] #33 closed

[2016-11-22 07:23] #142 closed

[2016-11-23 06:34] mnot commented on #173
Closing; if I've misused these terms somewhere (keeping the above in mind), please reopen or open a new one. Thanks.

[2016-11-23 06:34] #173 closed

[2016-11-23 06:39] mnot commented on #192
I think it boils down to whether the formats you can `GET` and `PUT` are always the same (provided you're `allow`ed to perform both methods, of course).

I can imagine that an API only wants to consume data in one format, but can provide it in more than one.

`acceptPut`, perhaps?

[2016-11-23 06:41] mnot commented on #193
Closing for now, feel free to reopen if it's bugging you still.

[2016-11-23 06:41] #193 closed

[2016-11-23 06:44] mnot commented on #200
From 5988 Section 4:

[2016-11-23 06:47] mnot commented on #202
Closing because AFAICT there isn't any action for the spec here. But feel free to keep chatting :)

[2016-11-23 06:47] #202 closed

[2016-11-23 06:47] #76 closed

[2016-11-23 06:47] #194 closed

[2016-11-23 06:48] mnot commented on #192
BTW, I'm thinking about ditching representation hints altogether; I think all of the semantics necessary for a home doc can be communicated in the media type / link relation + target attributes. Thoughts?

[2016-11-23 06:51] mnot commented on #41
So, what are the actual use cases here? Do you envision it occurring in representations sent to API clients (non-browser), or to browsers, or...?

[2016-11-23 06:51] mnot commented on #191
I've just sketched in a separate top-level member about the API itself, but am amenable to changes. Will have a read of that and think.

[2016-11-23 07:46] mnot opened #206 "Rate limiting"
resource hint

[2016-11-23 07:46] mnot opened #207 "POST to 201 (Created) pattern"

[2016-11-23 07:47] mnot opened #208 "Extensibility"
resource hints
resource object properties
etc

[2016-11-23 07:47] mnot opened #209 "Include?"

[2016-11-23 10:54] #149 closed

[2016-11-23 13:46] kidehen commented on #202
@mnot : Yes, I agree.

Fundamentally, an IRI is an acceptable value. If the resource owner wants said IRI to resolve to a document that describes what it denotes (i.e., its referent) then an HTTP URI can be used, in line with the principles outlined in the "Linked Data" meme.

In a nutshell, "horses for courses" :)

[2016-11-23 15:59] asbjornu commented on #192
I think the less JSON Home tries to do, the better. It can very quickly end up duplicating the efforts of Web API specification languages such as [Swagger](http://swagger.io/), [RAML](https://raml.org/), [API Blueprint](https://apiblueprint.org/), [Hydra](http://www.hydra-cg.com/), etc. As far as I understand, that's not the intention of JSON Home. The only thing I'd ensure is that these specifica

[2016-11-24 09:03] ivan-novakov opened #210 "Suggestion: use an existing API spec format for the API description"
Having a standard for API "home" is not a bad idea really. But I would reconsider, whether not to use an existing API description format like Swagger, API Blueprint, RAML, etc.

The advantage is clear:
- no need to reinvent the wheel
- much larger community
- existing ecosystem of tools & parsers

In fact, this standard may support various API specification formats. The client application can then

[2016-11-24 09:03] mnot commented on #197
https://github.com/krainboltgreene/hsdk.js

e.g., https://github.com/krainboltgreene/hsdk.js/blob/core/example/client.js

[2016-11-24 09:40] dret commented on #192
On 2016-11-23 21:29, Asbjørn Ulsberg wrote:

https://tools.ietf.org/html/draft-wilde-service-link-rel should help
with that (without requiring any specific support in JSON home).

[2016-11-24 09:54] mnot commented on #210
The use cases aren't the same. The main target here is defining extensible, evolvable, standard HTTP APIs (e.g., by IETF Working Groups). Swagger et al are much more focused on delivering one-off, single instance APIs a la Twitter et al.

Like @dret said in another issue just now, that doesn't mean that you can't link to swagger et al. from home doc.

[2016-11-24 09:54] #210 closed

[2016-11-24 14:22] asbjornu commented on #192
@dret: True, thanks for the pointer!

[2016-11-24 16:08] dret commented on #41
On 2016-11-23 12:21, Mark Nottingham wrote:

more to non-browsers than to browsers. API people i am talking to seem
to like the idea that there's a simple way to get from any resource to a
home document (and from there potentially to additional resources such
as service documentation or description). there's not a lot of harm in
defining such a link relations, i'd say.

[2016-11-27 07:20] mnot commented on #41
I think that makes sense.

[2016-11-27 18:34] dret commented on #41
On 2016-11-26 23:20, Mark Nottingham wrote:

i'll try to come up with a PR, then. the contribution process is to
update draft.md which is your "latest draft source", right?

[2016-11-27 20:50] dret commented on #191
On 2016-11-22 22:51, Mark Nottingham wrote:

thanks, and any thoughts/issues/feedback/requirements you might have
would be very welcome at
https://github.com/dret/I-D/issues?q=is%3Aopen+is%3Aissue+label%3Aservice-link-rel

[2016-11-29 04:37] dret commented on #192
On 2016-11-22 22:48, Mark Nottingham wrote:

i think that's a smart move. we had these discussions somewhere else
already, with a variety of parties (you and me included) trying to come
up with something akin to representation hints, and the various
approaches never seemed to quite make everybody happy.

if the home format is extensible enough that later on, such
representation hints could be adde

[2016-12-01 12:02] aef commented on #200
I must have missed that part. Thank you very much for your clarification.

[2016-12-25 17:56] #148 closed

[2016-12-27 20:25] handrews commented on #192
@mnot does "ditching representation hints" just refer to "formats" or to the whole hints section?

[2016-12-29 19:44] dret commented on #192
On 2016-12-27 13:25, Henry Andrews wrote:

my interpretation is that it refers to the whole concept of
representation hints. but i am not sure.

[2016-12-29 19:54] handrews commented on #192
@dret my question was more on what qualifies as a "representation" hint vs (possibly) other types of resource hints.  Like is the "allow" hint a representation hint?  It doesn't technically say anything about the representation itself.

[2016-12-29 20:01] dret commented on #192
On 2016-12-29 12:54, Henry Andrews wrote:

true, but it tells you how you can interact with it. and "representation
hints" as a separate concept are gone from
https://tools.ietf.org/html/draft-nottingham-json-home-05 anyway, now
there only are "resource hints".

but anyway, exegesis does not make a lot of sense here, let's see what
@mnot says.

[2016-12-29 20:18] handrews commented on #192
@mnot says.

Agreed.  My interest is that many of the hints complement what JSON Hyper-Schema does, and I'm trying to figure out if it makes sense to use JSON Hyper-Schema and JSON Home together.  It would also help me decide whether to push for HTTP-related hints in JSON Hyper-Schema or not.  It's been proposed, but honestly if JSON Home can address those in a way that complements JSON Hyper-Sche

[2016-12-30 05:30] dret commented on #192
On 2016-12-29 13:18, Henry Andrews wrote:

going off-topic: the whole hyper-schema part is a pretty big burden on
the spec already. from what the majority of people are looking for, it
might make sense to factor that out into a separate spec and keep JSON
schema lean and simple. i would definitely think very carefully about
extending that part even further.

[2016-12-30 05:39] handrews commented on #192
the spec already.

It technically is a separate spec, we've just been updating their drafts at the same time.  But they don't have to reach RFC at the same time.  I don't want to derail this discussion further so if I'm missing your point feel free open an issue over on the JSON Schema repo or mailing list.

[2017-01-03 13:36] hvdsomp commented on #175
Thanks @handrews for feedback. A few things come to mind:
* I have seen the "profile" attribute being used as a media type parameter, indeed. For example in the W3C's Linked Data Notifications spec, see https://www.w3.org/TR/ldn/ . But I do not where this use was officially specified. I am only aware as "profile" as a link relation type, defined in http://www.faqs.org/rfcs/rfc6906.html
* Assuming

[2017-01-03 19:04] handrews commented on #175
@hvdsomp the use of profile as a media type parameter is covered in [section 3.1 of RFC 6906](https://tools.ietf.org/html/rfc6906#section-3.1).

@dret is the author of the profile RFC so perhaps he can speak to its usage here.  I feel like "profile", "type", and "describedBy" all overlap somewhat and it's not clear to me exactly which should be used when.  Except that "profile" is an identifier an

[2017-01-04 04:38] dret commented on #175
On 2017-01-03 12:04, Henry Andrews wrote:

1. a profile media type parameter has to be allowed by the media type.
very few media types do this. so while i think that it's possible (and
maybe even better) to use a media type profile parameter, if that
mechanism is required, in many cases the media type simply will not
allow such a parameter to be used.

2. in my mind, "profile", "type", and "descri

[2017-01-04 08:13] asbjornu commented on #175
As this restriction is pretty much impossible to enforce in practice, what value does it have? I see great value in tagging on `profile` as authors see fit for their application, especially for loose media types such as `application/json` and `application/ld+json`.

I agree.

[2017-01-04 08:20] handrews commented on #175
I have to admit my first reaction to that part was "what, are the JSON Police (`application/police+json`) going to arrest me?"

Although if it really is not valid to use with `application/json` then JSON Schema will need to define an `application/instance+json` or something so that the profile parameter can be used to connect the schema.  Blerg.

[2017-01-04 16:35] dret commented on #175
this is off-topic:

On 2017-01-04 01:20, Henry Andrews wrote:

profile was not intended to refer to a schema. it is intended to refer
to a profile, which is defined as extending and/or constraining the
original media type. the spec gives examples.

[2017-01-04 19:13] handrews commented on #175
@dret I wasn't expecting a response on the JSON Schema aside, my point was about the usage of profiles with `application/json` (although admittedly poorly expressed- I shouldn't comment on issues after midnight :-)

JSON Schema part moved to json-schema-org/json-schema-spec#222

[2017-02-15 03:49] mnot commented on #209
Having an include facility increases complexity, and it's not clear it's necessary (since it can always be composed server-side). It also can increase latency (although there are mitigations like server push).

Closing this with no action. If you have an urgent use case for include, please do mention it.

[2017-02-15 03:49] #209 closed

[2017-02-15 04:13] #198 closed

[2017-02-15 04:23] mnot commented on #197
Now tracking here:
  https://github.com/mnot/I-D/wiki/json-home

[2017-02-15 04:26] #197 closed

[2017-02-15 04:27] #192 closed

[2017-02-15 04:38] mnot commented on #55
Hm. The use cases for this seem to be along the lines of "this resource accepts any format for PUT" or "this resource accept any `image/*` format for POST".

I'm not sure that this is the right place to indicate these semantics -- it feels like we're doing validation by media type. Much better would be to bake the semantics into the link relation type of that resource.

OTOH HTML does it in form u

[2017-02-15 04:39] mnot commented on #206
... should be defined as an extension, since the core semantics aren't yet standardised.

[2017-02-15 04:39] #206 closed

[2017-02-15 04:40] #200 closed

[2017-02-15 04:42] #208 closed

[2017-02-15 04:48] mnot commented on #207
Not sure what needs to be in the home document for this. The resulting URL is under control of the server, so shouldn't be exposed here. The media type(s) created *could* be exposed as a resource hint, I suppose; .e.g.,

    "postCreates": [ "application/foo", "text/bar" ]

or similar.

[2017-02-15 09:55] dret commented on #55
FYI: the draft referenced above is no longer active. the W3C LDP group ended up registering `Accept-Post` directly in the LDP spec: https://www.w3.org/TR/ldp/#header-accept-post

[2017-02-15 09:57] dret commented on #192
https://github.com/mnot/I-D/commit/9f865dfee56f449a91509f457e0619b25c7e09c5 leaves the general concept more or less unchanged and adds `acceptPut` as discussed earlier in this issue. i am wondering about the comments made above about unbundling the home format and the general idea of link descriptions/hints. aren't these two orthogonal concepts that can be combined, but also both make sense as sta

[2017-02-15 09:59] dret commented on #55
as discussed in #192, maybe it's worth considering splitting home documents and the general concept of link descriptions/hints?

[2017-02-15 15:00] handrews commented on #55
I'd love a separate JSON-based HTTP hints spec.  People keep wanting it in JSON Hyper-Schema, although my preference is also to look more towards link relations for this.  But if we must have hints a shared JSON format for them would be useful.

[2017-02-15 23:34] mnot commented on #55
@dret LDP needs to go and actually register that header field with IANA, not just put it in a document.

[2017-02-16 12:05] dret commented on #55
On 2017-02-15 17:00, Henry Andrews wrote:

thanks for the feedback, and i think it may be at least a direction
worth exploring. basically, @mnot and i both had the same/similar idea
at some point, and we both produced drafts:

* https://tools.ietf.org/html/draft-nottingham-link-hint
* https://tools.ietf.org/html/draft-wilde-link-desc

both are expired now and partially overlap, but they could prov

[2017-02-16 12:08] dret commented on #55
On 2017-02-16 01:34, Mark Nottingham wrote:

i raised that point a couple of times with the team, but will do it
again. thanks for the reminder!

[2017-02-22 06:12] mnot commented on #192
Well, it changes formats to cover GET (and by extension, HEAD), not PUT.

Which comments were about unbundling the home format? I read them as a side conversation about JSON Hyper Schema.

[2017-02-24 05:52] mnot opened #211 "link hints"
See also #55 and #192

This issue is for general discussion about a standalone concept of "link hints."

[2017-02-24 06:16] mnot commented on #211
For background - the current approach to target attributes (which are effectively link hints) in the proposed RFC5988bis document is that they can be defined by one of:

* The link serialisation
* The link relation type itself

So, e.g., HTML can define some that apply to all links (and it does), and individual link relations can define additional ones (and they do).

AFAICT the ideas behind doing

[2017-02-28 23:13] handrews commented on #211
@mnot I'm trying to figure out how to best relate this to JSON Hyper-Schema and its Link Description Object (LDO) which is its link serialization mechanism.

My main question is:  should URI scheme/protocol specific things, such as an "allow" hint corresponding to the HTTP `Allow` header, be part of this discussion?

I feel like these are demanded primarily by people writing full API description f

[2017-03-01 08:09] algermissen commented on #41
As a note to this thread: I am using a Well-Known URI for the purpose of finding the home document of a server (/.well-known/home). It has less capabilities compared to a link rel, but has served me well over the years.

[2017-03-01 08:21] dret commented on #41
On 2017-03-01 09:09, Jan Algermissen wrote:

i am sure you are aware that this is not a registered well-known URI.

https://www.ietf.org/assignments/well-known-uris/well-known-uris.xml

however, maybe it would be a good idea to register "home" as a
well-known URI? i'll open a new issue for that.

[2017-03-01 08:23] dret opened #212 "Well-known URI for "home""
as brought up in the discussion of #41, another helpful piece in the "home" puzzle could be to register a `home` well-known URI, so that developers liking this pattern for discovery can use an existing value.

[2017-03-01 15:19] dret commented on #41
PR: https://github.com/mnot/I-D/pull/214

[2017-03-01 15:46] asbjornu commented on #41
@dret: That sounds like a good idea. Would you say it's okay for that `well-known` URI to do an HTTP `301` to i.e. `/` for applications where that make sense?

[2017-03-01 15:50] dret commented on #41
On 2017-03-01 16:46, Asbjørn Ulsberg wrote:

let's head over to https://github.com/mnot/I-D/issues/212 for this topic

[2017-03-02 00:26] handrews commented on #211
@mnot while I think the comment above is pretty general, if this one is getting too down in the weeds of JSON Hyper-Schema I'll be happy to remove this comment.

There is a TL;DR at the bottom

-----

Aside from traversal hints, I am also concerned over JSON Hyper-Schema's `"targetSchema"` LDO keyword.  Like all target resource hints, it is advisory.  But it is weird in that it is actually hinting

[2017-03-02 10:08] asbjornu commented on #212
I like this idea. Would you say it's okay for a `well-known` URI to do an HTTP `301` to i.e. `/` for applications where that make sense?

[2017-03-02 10:27] dret commented on #212
On 2017-03-02 11:09, Asbjørn Ulsberg wrote:

without looking at that specific topic, i would think that as long as
/well-known resources are properly behaving HTTP resources, they can do
whatever their owner wants them to do.

if you want to publish a /well-known/home resource because some services
may use this for discovery, but you also firmly believe that your
service's "root" resource *is* the

[2017-03-06 05:43] mnot commented on #212
What's the use case here?

We mint a well-known URI when it's not realistic to use a URL, because we just have a hostname and port to work with.

Is there a use case for home documents where you can't just give the user a URL?

[2017-03-06 06:08] mnot commented on #211
I don't think @dret's *implicit* and *explicit* traversal hints are a dichotomy; rather, I tend to see the explicit hints as refining the semantics of the link relation with link-authoring-time information.

The ones that I define in json-home are limited to information that you can discover by interacting with the resource -- and importantly, that information that's already expressed through stan

[2017-03-06 06:15] mnot commented on #41
#214 merged; thanks!

[2017-03-06 06:15] #41 closed

[2017-03-06 06:40] algermissen commented on #212
I have been using it in situations where the clients know/discover a bunch of other systems as just host and port information and then use the general well known location to proceed.

In combination with DNS SRV or DNS-SD based discovery I thing this would be useful.

Having said that, I see your point (and e.g. with DNS-SD there is also 'path' in the TXT record to communicate a path).

[2017-03-14 13:38] dret commented on #192
On 2017-02-22 07:12, Mark Nottingham wrote:

maybe different people have different views and/or goals. my view still
is (as mentioned in comments in this issue) that it might be best for
home documents to just provide a basic structure for home documents, and
to leave the hinting part as a separate exercise. i think that's what
both https://tools.ietf.org/html/draft-nottingham-link-hint and
https:

[2017-03-15 00:09] handrews commented on #211
That seems to sum up both "target hints" and "explicit traversal hints".

I think I agree with explicit traversal hints being refinements of the more general (and possibly nonexistent) implicit hints indicated by the link relation.  To rephrase to see if I understand this, a link relation might imply the ability to do any number of things, while an explicit traversal hint restricts that to allow a

[2017-03-20 01:49] mnot commented on #211
When you say protocol, do you mean the-thing-roughly-identified-by-the-uri-scheme, or the application-specific protocol in use (e.g,. "e-mail over HTTP")?

[2017-03-20 15:52] handrews commented on #211
@mnot I mean the-thing-roughly-identified-by-the-uri-scheme :-)  Is there a better name for that?  I realized when I was writing the above comment that it's not quite right but couldn't come up with anything else.  Maybe I should have just said URI-scheme-specific...

[2017-03-29 19:35] mamund opened #221 "Nit for Section 4"
_(for 5988bis)_

I found myself internally translating the example sentences for "copyright" and "service" link relation types found in Section 4 into the template language supplied in Section 3.  It might be a good idea to provide the examples in the same template language to make this a bit easier to grok.

so..

would be:

This is just a nit.

[2017-03-29 20:47] mamund opened #222 "Nit for 5988bis Section 6.2"
I had to re-read the details of `anchor` attribute a few times to take it all in.

An example showing the anchor attribute would help readability of this section. Or maybe add a pointer to Section 6.5 and place it there.

[2017-03-29 20:50] mamund opened #223 "Clarify Character Encoding Attributes for 5988bis Section 6.4"
This section covers use of the "title" and "title*" attributes. However, Section 5 says:

And Section 6.4.2 goes on to help parsers deal with the difference between "example" and "example*".  It's not clear to me when reading this whether it is also giving instructions on how to properly _create_ new 5987-style attributes or if this section (6.4.2) is only discussing the parsing of existing 5987-s

[2017-03-29 20:55] mamund opened #224 "Build bug for handling asterisk in 5988 Section 6.4.2"
The build of the `draft.md` is not properly handling the asterisk in Section 6.4.2. It is appearing as a control character (emph) instead of a simple asterisk.

The XML build is:
`“example” and “example<spanx style="emph">”). When both forms are present, they SHOULD be considered to be the same target attribute; processors SHOULD use the value of the name ending in “</spanx>”`

The TXT build is:
`

[2017-04-03 18:06] #224 closed

[2017-04-03 23:31] asbjornu commented on #221
I find the rewritten paragraph to be easier to read and understand, so 👍  from me.

[2017-04-11 04:15] mnot commented on #223
To be clear -- `title` and `title*`, when serialised in a Link header, are *parameters* -- the spec should use that terminology consistently.

*Attributes* are in the abstract model (defined in Section 3); *parameters* are specific to the header serialisation, as defined in Section 6. If you find anywhere where these terms are used in a way that's inconsistent with this explanation, I'd love to he

[2017-04-11 04:23] #222 closed

[2017-04-11 04:27] #221 closed

[2017-04-11 04:29] mnot commented on #211
I guess I'm not feeling too much concern here, because my interests are around / needs are met by  HTTP(S), not other protocols (schemes).

What other ones did you have in mind?

[2017-04-17 20:34] jackfirth opened #225 "Disjoint resources with same relation in json-home documents"
Say I have three completely different resources A, B, and C that are all described by some relation X (possibly a very general relation such as "hosts"). In a JSON Home document, there seems to be two ways to link to these resources:

- With a URI template as a Resource Template. This can easily be inappropriate, as the resources may have very different URI structures, supported formats, authentic

[2017-04-19 09:39] mnot commented on #225
Can you give me some more detail about your use case? I'm trying to understand how you want to use the spec.

[2017-05-14 07:59] reschke commented on #33
Further notes:

- "_" is not legal in a production name
- use "/" instead of "|"

[2017-05-15 08:58] mnot opened #226 "Fix references"

[2017-05-15 09:01] reschke opened #227 "CardDAV doesn't define new methods (but CalDAV does)"

[2017-05-16 01:10] #226 closed

[2017-05-16 01:11] #227 closed

[2017-05-19 18:11] handrews commented on #211
@awwright has often brought up the need to be HTTP-agnostic in JSON Hyper-Schema, so perhaps he can comment on this.

For my part, the most obvious other one is CoAP which of course draws heavily from HTTP and is therefore the least problematic alternative anyway.

Another realistic possibility is integrating something like Cap'n Proto RPC into a hypermedia system.
 That would require defining a m

[2017-05-19 22:44] awwright commented on #211
I think you just need to define the parameters/hints in an appropriate manner, perhaps (in so many words) "When making HTTP-compatible requests for this resource, use optimize the request expecting the specified HTTP methods to be supported by the resource".

Worded this way because, keep in mind, it's technically legal to make a request to an HTTP server for any URI of any scheme, and the semanti

[2017-05-20 11:34] algermissen commented on #211
Reading this briefly (so excuse if I end up OT) it sounds as if there is too much desire to somehow establish more contract than is inherently possible in a decentralised system. Over emphasising hints does not make them any more reliable - after all, they are just hints and the server can still do what it wants.

A developer will best introspect servers anyhow at implementation time and assume re

[2017-05-20 17:51] handrews commented on #211
@algermissen the point of hints is not to establish a further contract (use OpenAPI or RAML or something for that).  It is to advertise what is reasonably likely to be supported and therefore worth attempting and coding for at the application level.  Yes, you always have to handle all errors, I'm well aware of that thank you.

There's this tendency to act as if the only choices for applications ar

[2017-05-22 09:38] dret commented on #211
On 2017-05-20 20:51, Henry Andrews wrote:

+1; it's as much about documenting capabilities (i.e., design time) as
it is about making them usable for runtime discovery. the more we make
these capabilities describable and discoverable in a coherent way, the
easier we make it for designers/developers to describe, discover, and
use them.

because of this, factoring them out of specific formats is a us

[2017-06-12 12:47] mnot commented on #190
No it doesn't (at least now).

[2017-06-12 12:51] martinthomson commented on #190
See also `nopush`: https://w3c.github.io/preload/#server-push-http-2

[2017-06-20 00:25] #223 closed

[2017-06-20 00:43] #190 closed

[2017-06-20 00:48] mnot commented on #211
I'm not sure about a common registry. As per 5988bis, link attributes are defined by link relation types and/or link serialisations.

Presumably we'd define a registry for hints (attributes) that a link relation and/or serialisation could opt into -- but they'd be opting into *all* of the registered values, no matter what the context.

For example, if such a registry were defined, I suspect it'd q

[2017-06-20 00:50] #55 closed

[2017-06-20 07:59] dret opened #228 "Explain "title" I18N in "Internationalization" section"
maybe it would be helpful to explain how non-ASCII characters are supposed to be handled (in particular in text strings such as the `title`/`title*` parameters). currently https://tools.ietf.org/html/draft-nottingham-rfc5988bis#section-6 only talks about IRIs and URIs. maybe some text about general character encoding considerations would be helpful.

[2017-06-20 08:23] dret commented on #211
On 2017-06-20 02:48, Mark Nottingham wrote:

https://tools.ietf.org/html/draft-wilde-registries is my personal
attempt to think about registries a bit more principled. it's a design
spectrum. wikis may be on the one end, specs with hard-coded value sets
on the other. so to some extent, if the spec at least makes it clear
that the set of values is expected to evolve and defines a processing
model c

[2017-06-21 01:58] mnot commented on #228
See <https://mnot.github.io/I-D/rfc5988bis/#extension-attributes>.

[2017-06-21 05:04] mnot opened #229 "Alternate approach"
_Considered earlier and rejected_

By definition, the Internet is a "network of networks." From an architectural standpoint, the Internet has the most utility when it has the greatest network effect, by involving the greatest number of networks, nodes and perhaps most critically, people.

This is shown by the increasing impact of the Internet as adoption rates have risen in many societies. In many

[2017-06-21 05:04] #229 closed

[2017-06-21 07:27] dret commented on #228
thanks for the pointer. concretely, what about linking to this section (or 5987bis directly) with a brief statement about how internationalization of parameter values is working?

[2017-06-24 16:58] akuckartz commented on #229
:+1:

[2017-06-30 11:27] asbjornu opened #230 "Problem Details in HTTP Link Header"
Just a random thought I had now while setting up status code logging for a few APIs: It would be awesome if the problem detail properties from RFC 7807 could be expressed in a `Link` header with an appropriate `rel` value. Something like:

[code]

Perhaps it's a bit of a stretch to include all properties from RFC 7807, but `title` and the `problem-type` link relation would be very useful. Is an RF

[2017-07-01 17:01] dret commented on #230
On 2017-06-30 04:27, Asbjørn Ulsberg wrote:

maybe there's a bit of an imbalance here between a RDFish world view,
and link relations a la RFC 5988. exposing every property of some data
model as link relations is something that looks more like a published
RDF vocabulary, and not so much link relations where the goal is to
provide relations that make sense as navigable hypermedia controls.

there w

[2017-07-01 23:22] asbjornu commented on #230
While a JSON-LD `@context` for `application/problem+json` would be neat, it does not solve the specific use case of having the `type` URI available in an HTTP header so it can be logged alongside the HTTP status code.

I did state that exposing all of the properties would be a stretch. That's not something I need either; I just thought that since `title` already exist as a `Link` target attribute,

[2017-07-02 01:51] dret commented on #230
On 2017-07-01 16:22, Asbjørn Ulsberg wrote:

that's something you can easily do yourself, if you think it will be
useful and would like to get such a link relation registered. if you're
looking for a starting point,
https://github.com/dret/I-D/tree/master/service-link-rel might be
useful. feel free to reuse/adapt in any shape or form that's helpful.

[2017-07-12 03:47] martinthomson opened #231 "Pervasive monitoring is not the only reason"
The bcp56bis draft currently says:

This implies that this is the only reason.  The best reasons are not even mentioned: authentication, confidentiality, and integrity.

[2017-07-12 03:53] martinthomson opened #232 "Advice on transport ports"
This isn't really necessary.  I would instead say that the port number is in the URL and cite [Initial URL Discovery](https://mnot.github.io/I-D/bcp56bis/#initial-url-discovery) for details.

Then explain that if you are bootstrapping from a bare hostname with `.well-known`, then this should assume the use of the default port for the scheme unless there are very good reasons.  In particular, when

[2017-07-12 03:57] martinthomson opened #233 "Any room for 6648"
bcp56bis says

This might tempered by a reference to RFC 6648 so that people don't get the mistaken impression that prefixing is a universal good.  The important qualification here is that the header field is specific to that application, which probably needs emphasis.

[2017-07-12 03:58] martinthomson opened #234 "Forbid 'digest' with HTTP as well"
Digest authentication is laughably weak; anything that uses it over HTTP is asking for trouble.

[2017-07-13 10:21] asbjornu opened #237 "JSON Home media type"
I see that the draft uses `application/json-home` as its media type. Shouldn't it be `application/home+json`? Afaik, `application/home` is still an unregistered media type?

Also, what's the status on the draft? Any ideas of if and when it will become an RFC?

[2017-07-16 08:26] mnot commented on #237
See https://github.com/mnot/I-D/issues/172

[2017-07-16 08:26] #237 closed

[2017-07-16 16:31] asbjornu commented on #237
Ah. My memory is really not my strongest asset. 😕

[2017-07-17 06:23] mnot commented on #237
I know that feeling :)

[2017-07-31 08:49] nllz opened #238 "end-user values"
Thanks for the new version of the draft. Upon re-reading it I thought of a threat vector that this draft possible brings in which might actually impact its usefulness. If we prioritize the need of the end-user, we're prioritizing end-user values.

The problem with end-user values is that everyone can claim anything is an end-user value. The end-user is not a standard with explicit guidelines or st

[2017-07-31 12:07] mnot commented on #238
My on-list reply:

I don't think there's any magic bullet that guarantees that the right thing will always happen -- we rely upon the community to bring up and represent users' needs. What this draft tries to do is give user-focused participants, chairs, ADs and other leadership a tool to use to help, along with a stated goal.

I was just looking at BCP95 in this light; I've always found that an e

[2017-08-02 21:38] dret opened #239 "serialization rules for repeated link parameters"
the current RFC 5988bis draft has the following example:

[code]

is it correct to assume that this is equivalent to the following:

[code]

as well as the following:

[code]

the reason is to figure out if there is a general model of how multiple occurrences of the same link parameter are to be processed. the reason for the question is that @hvdsomp and i are working on a JSON version (as discuss

[2017-08-02 21:51] dret opened #240 "clarify relationship between "Target Attribute" and link-param"
the current RFC 5988bis draft defines "Target Attribute" and uses this term in the spec language, but the syntax definition then uses `link-params` and the current draft says 'This specification defines the link-params "rel", "anchor", "rev", "hreflang", "media", "title", "title*", and "type"; see Section 3.2, Section 3.3 and Section 3.4.'
what is the relationship between "Target Attribute" and "L

[2017-08-03 00:16] dret opened #241 "check/align JSON representation of RFC 5988bis link sets"
https://tools.ietf.org/html/draft-wilde-linkset is a new draft @hvdsomp and i have published today. as discussed previously, it defines a JSON-based representation of RFC 5988bis link sets. it would be great to get some feedback about the proposed JSON representation, so that we can make sure that it is as faithful to the RFC 5988bis model as possible, but still is a JSON format that people might

[2017-08-03 08:59] hvdsomp commented on #239
Good observation. Can we address this by stating that an approach must be taken whereby parameters are not repeated, e.g.:

[ { "href" : "http://example.org/" , "rel" : "start http://example.net/relation/other" } ]

or:

[ { "href" : "http://example.org/" , "rel" : "start" } ,
  { "href" : "http://example.org/" , "rel" : "http://example.net/relation/other" } ]

[2017-08-03 11:03] asbjornu commented on #240
I touched on the same issue in #185.

[2017-08-03 17:34] dret commented on #240
On 2017-08-03 04:03, Asbjørn Ulsberg wrote:

interesting. i had the same problem understanding the terminology, and
it seems to me that there still are confusing usages of the terms. for
example, the current draft says:

'This specification defines the link-params "rel", "anchor", "rev",
"hreflang", "media", "title", "title*", and "type";'

but that really talks about target attributes i suppose,

[2017-08-03 18:16] dret commented on #239
On 2017-08-03 01:59, Herbert Van de Sompel wrote:

my guess is since this hasn't been disallowed by RFC 5988, it might be
hard to add such a constraint now. i have no idea how often repeated
link parameters occur in link headers in the wild.

my main issue here is to understand the exact abstract model of the
current draft, so that we can try to represent it as well as possible in
the JSON represe

[2017-08-04 09:33] hvdsomp commented on #239
I would like to note that these:

`<http://example.org/>; rel="start", <http://example.org/>; rel="http://example.net/relation/other"`

`<http://example.org/>; rel="start"; rel="http://example.net/relation/other"`

`<http://example.org/>; rel="start http://example.net/relation/other"`

express two links as per the abstract model of RFC5988bis: a link has link context, link relation type, link targ

[2017-08-04 16:58] dret commented on #239
On 2017-08-04 02:33, Herbert Van de Sompel wrote:

afaict, RFC 5988bis explicitly allows repeated target attributes. if a
serialization of the abstract model disallows this feature, then at
least it should say so, and specify how instances of the abstract model
are supposed to be serialized. there probably are three major options:

- specify that the first occurrence is used and that subsequent
oc

[2017-08-04 22:55] dret opened #242 "mention JSON representation in RFC 5988bis draft"
it would be great if @hvdsomp's and my draft https://tools.ietf.org/html/draft-wilde-linkset could be mentioned in the sections about target attributes and link parameters. as discussed in #240, these concepts are about the abstract data model and the native serialization.
it would be great if people defining new target attributes would be made aware of the fact that there are alternative serializ

[2017-08-04 23:12] mnot commented on #242
Too late for this, it's already at the IESG.

[2017-08-04 23:12] #242 closed

[2017-08-06 09:25] vasilakisfil opened #243 "HTTP OPTIONS for JSON HOME ?"
Just curious: Wouldn't be a good idea to use HTTP OPTIONS to figure out the capabilities of the API through JSON Home?

[2017-08-06 09:26] mnot commented on #243
https://www.mnot.net/blog/2012/10/29/NO_OPTIONS

[2017-08-06 09:29] mnot commented on #241
OK, but this isn't an issue on this spec.

[2017-08-06 09:29] #241 closed

[2017-08-06 09:30] mnot commented on #240
Target attributes are in the abstract model, link parameters are in the http header serialisation.

[2017-08-06 09:31] vasilakisfil commented on #243
Thanks for pointing out. I think the only valid argument in this blog post is the requirement set by the same RFC that options should not be cachable (hadn't seen that). I think clients should have already fixed the HTTP OPTIONS implementation, and browser inability to send OPTIONS is true but we don't care for JSON Home.

I don't see any reason why options should not be cached, do you know this r

[2017-08-06 09:31] #243 closed

[2017-08-06 18:07] dret commented on #240
thanks for the clarification. but: wouldn't it then be the case that the spec *"defines target attributes"* (which then get serialized as link parameters) instead of the spec *"defining link parameters"*?

[2017-08-07 08:48] hvdsomp commented on #239
After another reading of 5899bis, I think I can summarize the "repeatable" issue as follows:
- of all the target attributes defined by RFC5988bis, hreflang is the only one that is repeatable
- extensions attributes might be repeatable; it's up to those who define them to specify whether they are or not. the thing is they can be.

So, whichever way, we do need a solution for repeatable target attri

[2017-08-07 17:47] dret commented on #239
On 2017-08-07 01:48, Herbert Van de Sompel wrote:

this sounds reasonable. since the statement about "rel" does include
language about cardinality, it seems as if also stating that there MUST
be at least one "rel" value would improve the spec language.

[2017-08-09 05:16] mnot commented on #239
I think I can do that.

[2017-08-09 21:47] dret commented on #239
thanks. https://github.com/mnot/I-D/pull/244 might do the trick.

[2017-08-10 17:23] dret opened #245 "can links have multiple link relation types?"
over in https://github.com/dret/I-D/issues/73, we're trying to better understand what exactly the abstract link model of RFC5988bis is:

* is it possible for links to have more than one link relation type?
* or do links always have exactly one type and a `rel="x y"` link serialization is a shortcut that actually represents two distinct links?

https://tools.ietf.org/html/draft-nottingham-rfc5988bi

[2017-08-11 18:51] #245 closed

[2017-08-11 18:55] mnot commented on #240
It says:

Can you suggest clarifications?

[2017-08-11 19:03] #239 closed

[2017-08-11 19:08] dret commented on #240
that part reads fine to me. as mentioned above, it's the 'This specification defines the link-params "rel", "anchor", "rev", "hreflang", "media", "title", "title*", and "type";' part that could be tweaked. afaict, link parameters are an serialization issue and are used to serialize target attributes as well as "rel", "anchor", "rev". so maybe:

but then again on closer reading the spec says that t